openapi: 3.2.0
info:
  title: Klaviyo Profiles API
  version: '2026-04-15'
  description: The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.
  contact:
    name: Klaviyo Developer Experience Team
    email: developers@klaviyo.com
    url: https://developers.klaviyo.com
  termsOfService: https://www.klaviyo.com/legal/api-terms
  license:
    name: License
    url: https://www.klaviyo.com/legal
servers:
- url: https://a.klaviyo.com
  description: Production
security:
- Klaviyo-API-Key: []
tags:
- name: Profiles
  description: profiles
paths:
  /api/profiles:
    get:
      operationId: get_profiles
      summary: Get Profiles
      description: 'Get all profiles in an account.


        Profiles can be sorted by the following fields in ascending and descending order: `id`, `created`, `updated`, `email`, `subscriptions.email.marketing.suppression.timestamp`, `subscriptions.email.marketing.list_suppressions.timestamp`


        Use the `additional-fields` parameter to include subscriptions and predictive analytics data in your response.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        Rate limits when using the `additional-fields[profile]=predictive_analytics` parameter in your API request:

        Burst: `10/s`

        Steady: `150/m`


        To learn more about how the `additional-fields` parameter impacts rate limits, check out our Rate limits, status codes, and errors guide.


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: fields[profile]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - email
            - external_id
            - first_name
            - image
            - last_event_date
            - last_name
            - locale
            - location
            - location.address1
            - location.address2
            - location.city
            - location.country
            - location.ip
            - location.latitude
            - location.longitude
            - location.region
            - location.timezone
            - location.zip
            - organization
            - phone_number
            - predictive_analytics
            - predictive_analytics.average_days_between_orders
            - predictive_analytics.average_order_value
            - predictive_analytics.churn_probability
            - predictive_analytics.expected_date_of_next_order
            - predictive_analytics.historic_clv
            - predictive_analytics.historic_number_of_orders
            - predictive_analytics.predicted_clv
            - predictive_analytics.predicted_number_of_orders
            - predictive_analytics.ranked_channel_affinity
            - predictive_analytics.total_clv
            - properties
            - subscriptions
            - subscriptions.email
            - subscriptions.email.marketing
            - subscriptions.email.marketing.can_receive_email_marketing
            - subscriptions.email.marketing.consent
            - subscriptions.email.marketing.consent_timestamp
            - subscriptions.email.marketing.custom_method_detail
            - subscriptions.email.marketing.double_optin
            - subscriptions.email.marketing.last_updated
            - subscriptions.email.marketing.list_suppressions
            - subscriptions.email.marketing.method
            - subscriptions.email.marketing.method_detail
            - subscriptions.email.marketing.suppression
            - subscriptions.mobile_push
            - subscriptions.mobile_push.marketing
            - subscriptions.mobile_push.marketing.can_receive_push_marketing
            - subscriptions.mobile_push.marketing.consent
            - subscriptions.mobile_push.marketing.consent_timestamp
            - subscriptions.sms
            - subscriptions.sms.marketing
            - subscriptions.sms.marketing.can_receive_sms_marketing
            - subscriptions.sms.marketing.consent
            - subscriptions.sms.marketing.consent_timestamp
            - subscriptions.sms.marketing.last_updated
            - subscriptions.sms.marketing.method
            - subscriptions.sms.marketing.method_detail
            - subscriptions.sms.transactional
            - subscriptions.sms.transactional.can_receive_sms_transactional
            - subscriptions.sms.transactional.consent
            - subscriptions.sms.transactional.consent_timestamp
            - subscriptions.sms.transactional.last_updated
            - subscriptions.sms.transactional.method
            - subscriptions.sms.transactional.method_detail
            - subscriptions.whatsapp
            - subscriptions.whatsapp.conversational
            - subscriptions.whatsapp.conversational.can_receive
            - subscriptions.whatsapp.conversational.consent
            - subscriptions.whatsapp.conversational.consent_timestamp
            - subscriptions.whatsapp.conversational.created_timestamp
            - subscriptions.whatsapp.conversational.last_updated
            - subscriptions.whatsapp.conversational.metadata
            - subscriptions.whatsapp.conversational.phone_number
            - subscriptions.whatsapp.conversational.valid_until
            - subscriptions.whatsapp.marketing
            - subscriptions.whatsapp.marketing.can_receive
            - subscriptions.whatsapp.marketing.consent
            - subscriptions.whatsapp.marketing.consent_timestamp
            - subscriptions.whatsapp.marketing.created_timestamp
            - subscriptions.whatsapp.marketing.last_updated
            - subscriptions.whatsapp.marketing.metadata
            - subscriptions.whatsapp.marketing.phone_number
            - subscriptions.whatsapp.marketing.valid_until
            - subscriptions.whatsapp.transactional
            - subscriptions.whatsapp.transactional.can_receive
            - subscriptions.whatsapp.transactional.consent
            - subscriptions.whatsapp.transactional.consent_timestamp
            - subscriptions.whatsapp.transactional.created_timestamp
            - subscriptions.whatsapp.transactional.last_updated
            - subscriptions.whatsapp.transactional.metadata
            - subscriptions.whatsapp.transactional.phone_number
            - subscriptions.whatsapp.transactional.valid_until
            - title
            - updated
        explode: false
      - name: fields[push-token]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - background
            - created
            - enablement_status
            - metadata
            - metadata.app_build
            - metadata.app_id
            - metadata.app_name
            - metadata.app_version
            - metadata.device_id
            - metadata.device_model
            - metadata.environment
            - metadata.klaviyo_sdk
            - metadata.manufacturer
            - metadata.os_name
            - metadata.os_version
            - metadata.sdk_version
            - platform
            - recorded_date
            - token
            - vendor
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`email`: `any`, `equals`<br>`phone_number`: `any`, `equals`<br>`external_id`: `any`, `equals`<br>`_kx`: `equals`<br>`created`: `greater-than`, `less-than`<br>`updated`: `greater-than`, `less-than`<br>`subscriptions.email.marketing.list_suppressions.reason`: `equals`<br>`subscriptions.email.marketing.list_suppressions.timestamp`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`subscriptions.email.marketing.list_suppressions.list_id`: `equals`<br>`subscriptions.email.marketing.suppression.reason`: `equals`<br>`subscriptions.email.marketing.suppression.timestamp`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`'
        schema:
          type: string
          example: equals(id,'example')
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - conversation
            - push-tokens
        explode: false
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
          - email
          - -email
          - id
          - -id
          - subscriptions.email.marketing.list_suppressions.timestamp
          - -subscriptions.email.marketing.list_suppressions.timestamp
          - subscriptions.email.marketing.suppression.timestamp
          - -subscriptions.email.marketing.suppression.timestamp
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileResponseCollectionCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:read
    post:
      operationId: create_profile
      summary: Create Profile
      description: 'Create a new profile.


        Use the `additional-fields` parameter to include subscriptions and predictive analytics data in your response.


        The maximum allowed payload size is 100KB.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `profiles:write`'
      parameters:
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ProfileCreateQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostProfileResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:write
  /api/profiles/{id}:
    get:
      operationId: get_profile
      summary: Get Profile
      description: 'Get the profile with the given profile ID.


        Use the `additional-fields` parameter to include subscriptions and predictive analytics data in your response.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        Rate limits when using the `include=list` parameter in your API request:

        Burst: `1/s`

        Steady: `15/m`


        Rate limits when using the `include=segment` parameter in your API request:

        Burst: `1/s`

        Steady: `15/m`


        To learn more about how the `include` parameter impacts rate limits, check out our Rate limits, status codes, and errors guide.


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: fields[list]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - name
            - opt_in_process
            - updated
        explode: false
      - name: fields[profile]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - email
            - external_id
            - first_name
            - image
            - last_event_date
            - last_name
            - locale
            - location
            - location.address1
            - location.address2
            - location.city
            - location.country
            - location.ip
            - location.latitude
            - location.longitude
            - location.region
            - location.timezone
            - location.zip
            - organization
            - phone_number
            - predictive_analytics
            - predictive_analytics.average_days_between_orders
            - predictive_analytics.average_order_value
            - predictive_analytics.churn_probability
            - predictive_analytics.expected_date_of_next_order
            - predictive_analytics.historic_clv
            - predictive_analytics.historic_number_of_orders
            - predictive_analytics.predicted_clv
            - predictive_analytics.predicted_number_of_orders
            - predictive_analytics.ranked_channel_affinity
            - predictive_analytics.total_clv
            - properties
            - subscriptions
            - subscriptions.email
            - subscriptions.email.marketing
            - subscriptions.email.marketing.can_receive_email_marketing
            - subscriptions.email.marketing.consent
            - subscriptions.email.marketing.consent_timestamp
            - subscriptions.email.marketing.custom_method_detail
            - subscriptions.email.marketing.double_optin
            - subscriptions.email.marketing.last_updated
            - subscriptions.email.marketing.list_suppressions
            - subscriptions.email.marketing.method
            - subscriptions.email.marketing.method_detail
            - subscriptions.email.marketing.suppression
            - subscriptions.mobile_push
            - subscriptions.mobile_push.marketing
            - subscriptions.mobile_push.marketing.can_receive_push_marketing
            - subscriptions.mobile_push.marketing.consent
            - subscriptions.mobile_push.marketing.consent_timestamp
            - subscriptions.sms
            - subscriptions.sms.marketing
            - subscriptions.sms.marketing.can_receive_sms_marketing
            - subscriptions.sms.marketing.consent
            - subscriptions.sms.marketing.consent_timestamp
            - subscriptions.sms.marketing.last_updated
            - subscriptions.sms.marketing.method
            - subscriptions.sms.marketing.method_detail
            - subscriptions.sms.transactional
            - subscriptions.sms.transactional.can_receive_sms_transactional
            - subscriptions.sms.transactional.consent
            - subscriptions.sms.transactional.consent_timestamp
            - subscriptions.sms.transactional.last_updated
            - subscriptions.sms.transactional.method
            - subscriptions.sms.transactional.method_detail
            - subscriptions.whatsapp
            - subscriptions.whatsapp.conversational
            - subscriptions.whatsapp.conversational.can_receive
            - subscriptions.whatsapp.conversational.consent
            - subscriptions.whatsapp.conversational.consent_timestamp
            - subscriptions.whatsapp.conversational.created_timestamp
            - subscriptions.whatsapp.conversational.last_updated
            - subscriptions.whatsapp.conversational.metadata
            - subscriptions.whatsapp.conversational.phone_number
            - subscriptions.whatsapp.conversational.valid_until
            - subscriptions.whatsapp.marketing
            - subscriptions.whatsapp.marketing.can_receive
            - subscriptions.whatsapp.marketing.consent
            - subscriptions.whatsapp.marketing.consent_timestamp
            - subscriptions.whatsapp.marketing.created_timestamp
            - subscriptions.whatsapp.marketing.last_updated
            - subscriptions.whatsapp.marketing.metadata
            - subscriptions.whatsapp.marketing.phone_number
            - subscriptions.whatsapp.marketing.valid_until
            - subscriptions.whatsapp.transactional
            - subscriptions.whatsapp.transactional.can_receive
            - subscriptions.whatsapp.transactional.consent
            - subscriptions.whatsapp.transactional.consent_timestamp
            - subscriptions.whatsapp.transactional.created_timestamp
            - subscriptions.whatsapp.transactional.last_updated
            - subscriptions.whatsapp.transactional.metadata
            - subscriptions.whatsapp.transactional.phone_number
            - subscriptions.whatsapp.transactional.valid_until
            - title
            - updated
        explode: false
      - name: fields[push-token]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - background
            - created
            - enablement_status
            - metadata
            - metadata.app_build
            - metadata.app_id
            - metadata.app_name
            - metadata.app_version
            - metadata.device_id
            - metadata.device_model
            - metadata.environment
            - metadata.klaviyo_sdk
            - metadata.manufacturer
            - metadata.os_name
            - metadata.os_version
            - metadata.sdk_version
            - platform
            - recorded_date
            - token
            - vendor
        explode: false
      - name: fields[segment]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.condition_groups
            - is_active
            - is_processing
            - is_starred
            - name
            - updated
        explode: false
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - conversation
            - lists
            - push-tokens
            - segments
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileResponseCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:read
    patch:
      operationId: update_profile
      summary: Update Profile
      description: 'Update the profile with the given profile ID.


        Use the `additional-fields` parameter to include subscriptions and predictive analytics data in your response.


        Note that setting a field to `null` will clear out the field, whereas not including a field in your request will leave it unchanged.


        The maximum allowed payload size is 100KB.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `profiles:write`'
      parameters:
      - name: id
        in: path
        description: Primary key that uniquely identifies this profile. Generated by Klaviyo.
        required: true
        schema:
          description: Primary key that uniquely identifies this profile. Generated by Klaviyo.
          type: string
          example: 01GDDKASAP8TKDDA2GRZDSVP4H
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ProfilePartialUpdateQuery'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PatchProfileResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:write
  /api/profile-bulk-import-jobs:
    get:
      operationId: get_bulk_import_profiles_jobs
      summary: Get Bulk Import Profiles Jobs
      description: 'Get all bulk profile import jobs.


        Returns a maximum of 100 jobs per request.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `lists:read`

        `profiles:read`'
      parameters:
      - name: fields[profile-bulk-import-job]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - completed_at
            - completed_count
            - created_at
            - expires_at
            - failed_count
            - started_at
            - status
            - total_count
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`status`: `any`, `equals`'
        schema:
          type: string
          example: equals(status,'queued')
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created_at
          - -created_at
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileImportJobResponseCollectionCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_jobs
      - get_profile_bulk_import_jobs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - lists:read
      - profiles:read
      x-klaviyo-subtag: Bulk Import Profiles
    post:
      operationId: bulk_import_profiles
      summary: Bulk Import Profiles
      description: 'Create a bulk profile import job to create or update a batch of profiles.


        Accepts up to 10,000 profiles per request. The maximum allowed payload size is 5MB. The maximum allowed payload size per-profile is 100KB.


        To learn more, see our Bulk Profile Import API guide.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `lists:write`

        `profiles:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ProfileImportJobCreateQuery'
      responses:
        '202':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostProfileImportJobResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - spawn_bulk_profile_import_job
      - create_profile_bulk_import_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - lists:write
      - profiles:write
      x-klaviyo-subtag: Bulk Import Profiles
  /api/profile-bulk-import-jobs/{job_id}:
    get:
      operationId: get_bulk_import_profiles_job
      summary: Get Bulk Import Profiles Job
      description: 'Get a bulk profile import job with the given job ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `lists:read`

        `profiles:read`'
      parameters:
      - name: job_id
        in: path
        description: ID of the job to retrieve.
        required: true
        schema:
          description: ID of the job to retrieve.
          type: string
          example: 01GSQPBF74KQ5YTDEPP41T1BZH
      - name: fields[list]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - name
            - opt_in_process
            - updated
        explode: false
      - name: fields[profile-bulk-import-job]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - completed_at
            - completed_count
            - created_at
            - expires_at
            - failed_count
            - started_at
            - status
            - total_count
        explode: false
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - lists
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileImportJobResponseCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_job
      - get_profile_bulk_import_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - lists:read
      - profiles:read
      x-klaviyo-subtag: Bulk Import Profiles
  /api/profile-suppression-bulk-create-jobs:
    get:
      operationId: get_bulk_suppress_profiles_jobs
      summary: Get Bulk Suppress Profiles Jobs
      description: 'Get the status of all bulk profile suppression jobs.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `subscriptions:read`'
      parameters:
      - name: fields[profile-suppression-bulk-create-job]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - completed_at
            - completed_count
            - created_at
            - skipped_count
            - status
            - total_count
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`status`: `equals`<br>`list_id`: `equals`<br>`segment_id`: `equals`'
        schema:
          type: string
          example: equals(status,'processing')
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetBulkProfileSuppressionsCreateJobResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_suppression_bulk_create_jobs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - subscriptions:read
      x-klaviyo-subtag: Consent
    post:
      operationId: bulk_suppress_profiles
      summary: Bulk Suppress Profiles
      description: 'Manually suppress profiles by email address or specify a segment/list ID to suppress all current members of a segment/list.


        Suppressed profiles cannot receive email marketing, independent of their consent status. To learn more, see our guides on email suppressions and collecting consent.


        Email address per request limit: 100


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `profiles:write`

        `subscriptions:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: Suppresses one or more profiles from receiving marketing. Currently, supports email only. If a profile is not found with the given email, one will be created and immediately suppressed.
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SuppressionCreateJobCreateQuery'
      responses:
        '202':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostBulkProfileSuppressionsCreateJobResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - suppress_profiles
      - create_profile_suppression_bulk_create_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:write
      - subscriptions:write
      x-klaviyo-subtag: Consent
  /api/profile-suppression-bulk-create-jobs/{job_id}:
    get:
      operationId: get_bulk_suppress_profiles_job
      summary: Get Bulk Suppress Profiles Job
      description: 'Get the bulk suppress profiles job with the given job ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `subscriptions:read`'
      parameters:
      - name: job_id
        in: path
        description: ID of the job to retrieve.
        required: true
        schema:
          description: ID of the job to retrieve.
          type: string
          example: 01GSQPBF74KQ5YTDEPP41T1BZH
      - name: fields[profile-suppression-bulk-create-job]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - completed_at
            - completed_count
            - created_at
            - skipped_count
            - status
            - total_count
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetBulkProfileSuppressionsCreateJobResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_suppression_bulk_create_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - subscriptions:read
      x-klaviyo-subtag: Consent
  /api/profile-suppression-bulk-delete-jobs:
    get:
      operationId: get_bulk_unsuppress_profiles_jobs
      summary: Get Bulk Unsuppress Profiles Jobs
      description: 'Get all bulk unsuppress profiles jobs.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `subscriptions:read`'
      parameters:
      - name: fields[profile-suppression-bulk-delete-job]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - completed_at
            - completed_count
            - created_at
            - skipped_count
            - status
            - total_count
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`status`: `equals`<br>`list_id`: `equals`<br>`segment_id`: `equals`'
        schema:
          type: string
          example: equals(status,'processing')
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetBulkProfileSuppressionsRemoveJobResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_suppression_bulk_delete_jobs
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - subscriptions:read
      x-klaviyo-subtag: Consent
    post:
      operationId: bulk_unsuppress_profiles
      summary: Bulk Unsuppress Profiles
      description: 'Manually unsuppress profiles by email address or specify a segment/list ID to unsuppress all current members of a segment/list.


        This only removes suppressions with reason USER_SUPPRESSED ; unsubscribed profiles and suppressed profiles with reason INVALID_EMAIL or HARD_BOUNCE remain unchanged. To learn more, see our guides on email suppressions and collecting consent.


        Email address per request limit: 100


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `subscriptions:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: 'Unsuppresses one or more profiles from receiving marketing. Currently, supports email only. If a profile is not

          found with the given email, no action will be taken.'
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SuppressionDeleteJobCreateQuery'
      responses:
        '202':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostBulkProfileSuppressionsRemoveJobResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - unsuppress_profiles
      - create_profile_suppression_bulk_delete_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - subscriptions:write
      x-klaviyo-subtag: Consent
  /api/profile-suppression-bulk-delete-jobs/{job_id}:
    get:
      operationId: get_bulk_unsuppress_profiles_job
      summary: Get Bulk Unsuppress Profiles Job
      description: 'Get the bulk unsuppress profiles job with the given job ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `subscriptions:read`'
      parameters:
      - name: job_id
        in: path
        description: ID of the job to retrieve.
        required: true
        schema:
          description: ID of the job to retrieve.
          type: string
          example: 01GSQPBF74KQ5YTDEPP41T1BZH
      - name: fields[profile-suppression-bulk-delete-job]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - completed_at
            - completed_count
            - created_at
            - skipped_count
            - status
            - total_count
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetBulkProfileSuppressionsRemoveJobResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_suppression_bulk_delete_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - subscriptions:read
      x-klaviyo-subtag: Consent
  /api/push-tokens:
    get:
      operationId: get_push_tokens
      summary: Get Push Tokens
      description: 'Return push tokens associated with company.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`

        `push-tokens:read`'
      parameters:
      - name: fields[profile]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - email
            - external_id
            - first_name
            - image
            - last_event_date
            - last_name
            - locale
            - location
            - location.address1
            - location.address2
            - location.city
            - location.country
            - location.ip
            - location.latitude
            - location.longitude
            - location.region
            - location.timezone
            - location.zip
            - organization
            - phone_number
            - properties
            - title
            - updated
        explode: false
      - name: fields[push-token]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - background
            - created
            - enablement_status
            - metadata
            - metadata.app_build
            - metadata.app_id
            - metadata.app_name
            - metadata.app_version
            - metadata.device_id
            - metadata.device_model
            - metadata.environment
            - metadata.klaviyo_sdk
            - metadata.manufacturer
            - metadata.os_name
            - metadata.os_version
            - metadata.sdk_version
            - platform
            - recorded_date
            - token
            - vendor
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `equals`<br>`profile.id`: `equals`<br>`enablement_status`: `equals`<br>`platform`: `equals`'
        schema:
          type: string
          example: equals(id,'example')
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - profile
        explode: false
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetPushTokenResponseCollectionCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
      - push-tokens:read
      x-klaviyo-subtag: Push Tokens
    post:
      operationId: create_push_token
      summary: Create or Update Push Token
      description: 'Create or update a push token.


        This endpoint can be used to migrate push tokens from another platform to Klaviyo. Please use our mobile SDKs (iOS and Android) to create push tokens from users'' devices.


        The maximum allowed payload size is 100KB.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `profiles:write`

        `push-tokens:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PushTokenCreateQuery'
      responses:
        '202':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:write
      - push-tokens:write
      x-klaviyo-subtag: Push Tokens
  /api/push-tokens/{id}:
    get:
      operationId: get_push_token
      summary: Get Push Token
      description: 'Return a specific push token based on its ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`

        `push-tokens:read`'
      parameters:
      - name: id
        in: path
        description: The value of the push token
        required: true
        schema:
          description: The value of the push token
          type: string
      - name: fields[profile]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - email
            - external_id
            - first_name
            - image
            - last_event_date
            - last_name
            - locale
            - location
            - location.address1
            - location.address2
            - location.city
            - location.country
            - location.ip
            - location.latitude
            - location.longitude
            - location.region
            - location.timezone
            - location.zip
            - organization
            - phone_number
            - properties
            - title
            - updated
        explode: false
      - name: fields[push-token]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - background
            - created
            - enablement_status
            - metadata
            - metadata.app_build
            - metadata.app_id
            - metadata.app_name
            - metadata.app_version
            - metadata.device_id
            - metadata.device_model
            - metadata.environment
            - metadata.klaviyo_sdk
            - metadata.manufacturer
            - metadata.os_name
            - metadata.os_version
            - metadata.sdk_version
            - platform
            - recorded_date
            - token
            - vendor
        explode: false
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - profile
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetPushTokenResponseCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
      - push-tokens:read
      x-klaviyo-subtag: Push Tokens
    delete:
      operationId: delete_push_token
      summary: Delete Push Token
      description: 'Delete a specific push token based on its ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `push-tokens:write`'
      parameters:
      - name: id
        in: path
        description: The value of the push token to delete
        required: true
        schema:
          description: The value of the push token to delete
          type: string
          example: 925e385b52fb405715f3616c337cc65c
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - push-tokens:write
      x-klaviyo-subtag: Push Tokens
  /api/profile-import:
    post:
      operationId: create_or_update_profile
      summary: Create or Update Profile
      description: 'Given a set of profile attributes and optionally an ID, create or update a profile.


        Returns 201 if a new profile was created, 200 if an existing profile was updated.


        Use the `additional-fields` parameter to include subscriptions and predictive analytics data in your response.


        Note that setting a field to `null` will clear out the field, whereas not including a field in your request will leave it unchanged.


        The maximum allowed payload size is 100KB.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `profiles:write`'
      parameters:
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ProfileUpsertQuery'
      responses:
        '200':
          description: Profile Updated Successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostProfileResponse'
        '201':
          description: Profile Created Successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostProfileResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - create_profile_import
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - profiles:write
  /api/profile-merge:
    post:
      operationId: merge_profiles
      summary: Merge Profiles
      description: 'Merge a given related profile into a profile with the given profile ID.


        The profile provided under `relationships` (the "source" profile) will be merged into the profile provided by the ID in the base data object (the "destination" profile).

        This endpoint queues an asynchronous task which will merge data from the source profile into the destination profile, deleting the source profile in the process. This endpoint accepts only one source profile.


        To learn more about how profile data is preserved or overwritten during a merge, please visit our Help Center.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ProfileMergeQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostProfileMergeResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - create_profile_merge
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:write
  /api/profile-subscription-bulk-create-jobs:
    post:
      operationId: bulk_subscribe_profiles
      summary: Bulk Subscribe Profiles
      description: 'Subscribe one or more profiles to email marketing, SMS marketing, WhatsApp, or push. If the provided list has double opt-in enabled, profiles will receive a message requiring their confirmation before subscribing. Otherwise, profiles will be immediately subscribed without receiving a confirmation message.

        Learn more about consent in this guide.


        If a list is not provided, the opt-in process used will be determined by the account-level default opt-in setting.


        To add someone to a list without changing their subscription status, use Add Profile to List.


        This API will remove any `UNSUBSCRIBE`, `SPAM_REPORT` or `USER_SUPPRESSED` suppressions from the provided profiles. Learn more about suppressed profiles.


        Maximum number of profiles can be submitted for subscription: 1000


        This endpoint now supports a `historical_import` flag. If this flag is set `true`, profiles being subscribed will bypass double opt-in emails and be subscribed immediately. They will also bypass any associated "Added to list" flows. This is useful for importing historical data where you have already collected consent. If `historical_import` is set to true, the `consented_at` field is required and must be in the past.


        Push tokens provided in `push_tokens` will be registered for each profile as long as push subscriptions are consented to.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `lists:write`

        `profiles:write`

        `subscriptions:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: 'Subscribes one or more profiles to marketing, with support for push channel and push tokens.

          All profiles will be added to the provided list. Either email or phone number is required.

          Both may be specified to subscribe to both channels. If a profile cannot be found matching

          the given identifier(s), a new profile will be created and then subscribed.'
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateJobCreateQuery'
      responses:
        '202':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - subscribe_profiles
      - create_profile_subscription_bulk_create_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - lists:write
      - profiles:write
      - subscriptions:write
      x-klaviyo-subtag: Consent
  /api/profile-subscription-bulk-delete-jobs:
    post:
      operationId: bulk_unsubscribe_profiles
      summary: Bulk Unsubscribe Profiles
      description: '> 🚧

        >

        > Profiles not in the specified list will be globally unsubscribed. Always verify profile list membership before calling this endpoint to avoid unintended global unsubscribes.


        Unsubscribe one or more profiles from email marketing, SMS marketing, push marketing, or a combination. Learn more about consent in this guide.


        Push tokens provided in `subscriptions.push.tokens` will be removed for the specified profiles.


        To remove someone from a list without changing their subscription status, use Remove Profiles from List.


        Maximum number of profiles per call: 100


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `lists:write`

        `profiles:write`

        `subscriptions:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: 'Unsubscribes one or more profiles from marketing. Supports email, SMS, WhatsApp, and push channels. All profiles will be removed from the provided list.

          Either email or phone number is required for email/SMS/WhatsApp channels. Push tokens can be removed by providing token strings directly.

          If a profile cannot be found matching the given identifier(s), a new profile will be created and then unsubscribed.'
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SubscriptionDeleteJobCreateQuery'
      responses:
        '202':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - unsubscribe_profiles
      - create_profile_subscription_bulk_delete_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - lists:write
      - profiles:write
      - subscriptions:write
      x-klaviyo-subtag: Consent
  /api/profiles/{id}/push-tokens:
    get:
      operationId: get_push_tokens_for_profile
      summary: Get Push Tokens for Profile
      description: 'Return all push tokens that belong to the given profile.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[push-token]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - background
            - created
            - enablement_status
            - metadata
            - metadata.app_build
            - metadata.app_id
            - metadata.app_name
            - metadata.app_version
            - metadata.device_id
            - metadata.device_model
            - metadata.environment
            - metadata.klaviyo_sdk
            - metadata.manufacturer
            - metadata.os_name
            - metadata.os_version
            - metadata.sdk_version
            - platform
            - recorded_date
            - token
            - vendor
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetPushTokenResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_push_tokens
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
  /api/profiles/{id}/relationships/push-tokens:
    get:
      operationId: get_push_token_ids_for_profile
      summary: Get Push Token IDs for Profile
      description: 'Return the IDs of all push tokens associated with the given profile.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfilePushTokensRelationshipsResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_relationships_push_tokens
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
  /api/profiles/{id}/lists:
    get:
      operationId: get_lists_for_profile
      summary: Get Lists for Profile
      description: 'Get list memberships for a profile with the given profile ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `lists:read`

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[list]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - name
            - opt_in_process
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetListResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_lists
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - lists:read
      - profiles:read
  /api/profiles/{id}/relationships/lists:
    get:
      operationId: get_list_ids_for_profile
      summary: Get List IDs for Profile
      description: 'Get list memberships for a profile with the given profile ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `lists:read`

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileListsRelationshipsResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_relationships_lists
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - lists:read
      - profiles:read
  /api/profiles/{id}/segments:
    get:
      operationId: get_segments_for_profile
      summary: Get Segments for Profile
      description: 'Get segment memberships for a profile with the given profile ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `profiles:read`

        `segments:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[segment]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.condition_groups
            - is_active
            - is_processing
            - is_starred
            - name
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetSegmentResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_segments
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - profiles:read
      - segments:read
  /api/profiles/{id}/relationships/segments:
    get:
      operationId: get_segment_ids_for_profile
      summary: Get Segment IDs for Profile
      description: 'Get segment membership relationships for a profile with the given profile ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `profiles:read`

        `segments:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileSegmentsRelationshipsResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_relationships_segments
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - profiles:read
      - segments:read
  /api/profiles/{id}/conversation:
    get:
      operationId: get_conversation_for_profile
      summary: Get Conversation for Profile
      description: 'Get the conversation for a profile with the given profile ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `conversations:read`

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetConversationResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_conversation
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - conversations:read
      - profiles:read
      x-klaviyo-subtag: Conversations
  /api/profiles/{id}/relationships/conversation:
    get:
      operationId: get_conversation_id_for_profile
      summary: Get Conversation ID for Profile
      description: 'Get the conversation relationship for a profile with the given profile ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `conversations:read`

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileConversationRelationshipResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_profile_relationships_conversation
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - conversations:read
      - profiles:read
      x-klaviyo-subtag: Conversations
  /api/profile-bulk-import-jobs/{id}/lists:
    get:
      operationId: get_list_for_bulk_import_profiles_job
      summary: Get List for Bulk Import Profiles Job
      description: 'Get list for the bulk profile import job with the given ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `lists:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[list]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - name
            - opt_in_process
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetListResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_job_lists
      - get_lists_for_profile_bulk_import_job
      - get_profile_bulk_import_job_lists
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - lists:read
      x-klaviyo-subtag: Bulk Import Profiles
  /api/profile-bulk-import-jobs/{id}/relationships/lists:
    get:
      operationId: get_list_ids_for_bulk_import_profiles_job
      summary: Get List IDs for Bulk Import Profiles Job
      description: 'Get list relationship for the bulk profile import job with the given ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `lists:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileBulkImportJobListsRelationshipsResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_job_relationships_lists
      - get_list_ids_for_profile_bulk_import_job
      - get_profile_bulk_import_job_relationships_lists
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - lists:read
      x-klaviyo-subtag: Bulk Import Profiles
  /api/profile-bulk-import-jobs/{id}/profiles:
    get:
      operationId: get_profiles_for_bulk_import_profiles_job
      summary: Get Profiles for Bulk Import Profiles Job
      description: 'Get profiles for the bulk profile import job with the given ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: fields[profile]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - email
            - external_id
            - first_name
            - image
            - last_event_date
            - last_name
            - locale
            - location
            - location.address1
            - location.address2
            - location.city
            - location.country
            - location.ip
            - location.latitude
            - location.longitude
            - location.region
            - location.timezone
            - location.zip
            - organization
            - phone_number
            - predictive_analytics
            - predictive_analytics.average_days_between_orders
            - predictive_analytics.average_order_value
            - predictive_analytics.churn_probability
            - predictive_analytics.expected_date_of_next_order
            - predictive_analytics.historic_clv
            - predictive_analytics.historic_number_of_orders
            - predictive_analytics.predicted_clv
            - predictive_analytics.predicted_number_of_orders
            - predictive_analytics.ranked_channel_affinity
            - predictive_analytics.total_clv
            - properties
            - subscriptions
            - subscriptions.email
            - subscriptions.email.marketing
            - subscriptions.email.marketing.can_receive_email_marketing
            - subscriptions.email.marketing.consent
            - subscriptions.email.marketing.consent_timestamp
            - subscriptions.email.marketing.custom_method_detail
            - subscriptions.email.marketing.double_optin
            - subscriptions.email.marketing.last_updated
            - subscriptions.email.marketing.list_suppressions
            - subscriptions.email.marketing.method
            - subscriptions.email.marketing.method_detail
            - subscriptions.email.marketing.suppression
            - subscriptions.mobile_push
            - subscriptions.mobile_push.marketing
            - subscriptions.mobile_push.marketing.can_receive_push_marketing
            - subscriptions.mobile_push.marketing.consent
            - subscriptions.mobile_push.marketing.consent_timestamp
            - subscriptions.sms
            - subscriptions.sms.marketing
            - subscriptions.sms.marketing.can_receive_sms_marketing
            - subscriptions.sms.marketing.consent
            - subscriptions.sms.marketing.consent_timestamp
            - subscriptions.sms.marketing.last_updated
            - subscriptions.sms.marketing.method
            - subscriptions.sms.marketing.method_detail
            - subscriptions.sms.transactional
            - subscriptions.sms.transactional.can_receive_sms_transactional
            - subscriptions.sms.transactional.consent
            - subscriptions.sms.transactional.consent_timestamp
            - subscriptions.sms.transactional.last_updated
            - subscriptions.sms.transactional.method
            - subscriptions.sms.transactional.method_detail
            - subscriptions.whatsapp
            - subscriptions.whatsapp.conversational
            - subscriptions.whatsapp.conversational.can_receive
            - subscriptions.whatsapp.conversational.consent
            - subscriptions.whatsapp.conversational.consent_timestamp
            - subscriptions.whatsapp.conversational.created_timestamp
            - subscriptions.whatsapp.conversational.last_updated
            - subscriptions.whatsapp.conversational.metadata
            - subscriptions.whatsapp.conversational.phone_number
            - subscriptions.whatsapp.conversational.valid_until
            - subscriptions.whatsapp.marketing
            - subscriptions.whatsapp.marketing.can_receive
            - subscriptions.whatsapp.marketing.consent
            - subscriptions.whatsapp.marketing.consent_timestamp
            - subscriptions.whatsapp.marketing.created_timestamp
            - subscriptions.whatsapp.marketing.last_updated
            - subscriptions.whatsapp.marketing.metadata
            - subscriptions.whatsapp.marketing.phone_number
            - subscriptions.whatsapp.marketing.valid_until
            - subscriptions.whatsapp.transactional
            - subscriptions.whatsapp.transactional.can_receive
            - subscriptions.whatsapp.transactional.consent
            - subscriptions.whatsapp.transactional.consent_timestamp
            - subscriptions.whatsapp.transactional.created_timestamp
            - subscriptions.whatsapp.transactional.last_updated
            - subscriptions.whatsapp.transactional.metadata
            - subscriptions.whatsapp.transactional.phone_number
            - subscriptions.whatsapp.transactional.valid_until
            - title
            - updated
        explode: false
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_job_profiles
      - get_profile_bulk_import_job_profiles
      - get_profiles_for_profile_bulk_import_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
      x-klaviyo-subtag: Bulk Import Profiles
  /api/profile-bulk-import-jobs/{id}/relationships/profiles:
    get:
      operationId: get_profile_ids_for_bulk_import_profiles_job
      summary: Get Profile IDs for Bulk Import Profiles Job
      description: 'Get profile relationships for the bulk profile import job with the given ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileBulkImportJobProfilesRelationshipsResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_job_relationships_profiles
      - get_profile_bulk_import_job_relationships_profiles
      - get_profile_ids_for_profile_bulk_import_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
      x-klaviyo-subtag: Bulk Import Profiles
  /api/profile-bulk-import-jobs/{id}/import-errors:
    get:
      operationId: get_errors_for_bulk_import_profiles_job
      summary: Get Errors for Bulk Import Profiles Job
      description: 'Get import errors for the bulk profile import job with the given ID.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[import-error]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - detail
            - original_payload
            - source
            - source.pointer
            - title
        explode: false
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetImportErrorResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Profiles
      x-klaviyo-operation-aliases:
      - get_bulk_profile_import_job_import_errors
      - get_import_errors_for_profile_bulk_import_job
      - get_profile_bulk_import_job_import_errors
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 10/s
        steady: 150/m
      x-klaviyo-scopes:
      - profiles:read
      x-klaviyo-subtag: Bulk Import Profiles
  /api/push-tokens/{id}/profile:
    get:
      operationId: get_profile_for_push_token
      summary: Get Profile for Push Token
      description: 'Return the profile associated with the given push token.


        *Rate limits*:

        Burst: `10/s`

        Steady: `150/m`


        **Scopes:**

        `profiles:read`

        `push-tokens:read`'
      parameters:
      - name: id
        in: path
        description: The value of the push token
        required: true
        schema:
          description: The value of the push token
          type: string
      - name: additional-fields[profile]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''subscriptions'', ''predictive_analytics'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - subscriptions
            - predictive_analytics
        explode: false
      - name: fields[profile]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - email
            - external_id
            - first_name
            - image
            - last_event_date
            - last_name
            - locale
            - location
            - location.address1
            - location.address2
            - location.city
            - location.country
            - location.ip
            - location.latitude
            - location.longitude
            - location.region
            - location.timezone
            - location.zip
            - organization
            - phone_number
            - predictive_analytics
            - predictive_analytics.average_days_between_orders
            - predictive_analytics.average_order_value
            - predictive_analytics.churn_probability
            - predictive_analytics.expected_date_of_next_order
            - predictive_analytics.historic_clv
            - predictive_analytics.historic_number_of_orders
            - predictive_analytics.predicted_clv
            - predictive_analytics.predicted_number_of_orders
            - predictive_analytics.ranked_channel_affinity
            - predictive_analytics.total_clv
            - properties
            - subscriptions
            - subscriptions.email
            - subscriptions.email.marketing
            - subscriptions.email.marketing.can_receive_email_marketing
            - subscriptions.email.marketing.consent
            - subscriptions.email.marketing.consent_timestamp
            - subscriptions.email.marketing.custom_method_detail
            - subscriptions.email.marketing.double_optin
            - subscriptions.email.marketing.last_updated
            - subscriptions.email.marketing.list_suppressions
            - subscriptions.email.marketing.method
            - subscriptions.email.marketing.method_detail
            - subscriptions.email.marketing.suppression
            - subscriptions.mobile_push
            - subscriptions.mobile_push.marketing
            - subscriptions.mobile_push.marketing.can_receive_push_marketing
            - subscriptions.mobile_push.marketing.consent
            - subscriptions.mobile_push.marketing.consent_timestamp
            - subscriptions.sms
            - subscriptions.sms.marketing
            - subscriptions.sms.marketing.can_receive_sms_marketing
            - subscriptions.sms.marketing.consent
            - subscriptions.sms.marketing.consent_timestamp
            - subscriptions.sms.marketing.last_updated
            - subscriptions.sms.marketing.method
            - subscriptions.sms.marketing.method_detail
            - subscriptions.sms.transactional
            - subscriptions.sms.transactional.can_receive_sms_transactional
            - subscriptions.sms.transactional.consent
            - subscriptions.sms.transactional.consent_timestamp
            - subscriptions.sms.transactional.last_updated
            - subscriptions.sms.transactional.method
            - subscriptions.sms.transactional.method_detail
            - subscriptions.whatsapp
            - subscriptions.whatsapp.conversational
            - subscriptions.whatsapp.conversational.can_receive
            - subscriptions.whatsapp.conversational.consent
            - subscriptions.whatsapp.conversational.consent_timestamp
            - subscriptions.whatsapp.conversational.created_timestamp
            - subscriptions.whatsapp.conversational.last_updated
            - subscriptions.whatsapp.conversational.metadata
            - subscriptions.whatsapp.conversational.phone_number
            - subscriptions.whatsapp.conversational.valid_until
            - subscriptions.whatsapp.marketing
            - subscriptions.whatsapp.marketing.can_receive
            - subscriptions.whatsapp.marketing.consent
            - subscriptions.whatsapp.marketing.consent_timestamp
            - subscriptions.whatsapp.marketing.created_timestamp
            - subscriptions.whatsapp.marketing.last_updated
            - subscriptions.whatsapp.marketing.metadata
            - subscriptions.whatsapp.marketing.phone_number
            - subscriptions.whatsapp.marketing.valid_until
            - subscriptions.whatsapp.transactional
            - subscriptions.whatsapp.transactional.can_receive
            - subscriptions.whatsapp.transactional.consent
            - subscriptions.whatsapp.transactional.consent_timestamp
            - subscriptions.whatsapp.transactional.created_timestamp
            - subscriptions.whatsapp.transactional.last_updated
            - subscriptions.whatsapp.transactional.metadata
            - subscriptions.whatsapp.transactional.phone_number
            - subscriptions.whatsapp.transactional.valid_until
            - title
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetProfileResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
[...]
