openapi: 3.2.0
info:
  title: Klaviyo Templates API
  version: '2026-04-15'
  description: The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.
  contact:
    name: Klaviyo Developer Experience Team
    email: developers@klaviyo.com
    url: https://developers.klaviyo.com
  termsOfService: https://www.klaviyo.com/legal/api-terms
  license:
    name: License
    url: https://www.klaviyo.com/legal
servers:
- url: https://a.klaviyo.com
  description: Production
security:
- Klaviyo-API-Key: []
tags:
- name: Templates
  description: templates
paths:
  /api/templates:
    get:
      operationId: get_templates
      summary: Get Templates
      description: 'Get all templates in an account.


        Use `additional-fields[template]=definition` to include the full template

        definition for SYSTEM_DRAGGABLE templates.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: additional-fields[template]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''definition'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
        explode: false
      - name: fields[template]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - amp
            - created
            - definition
            - definition.body
            - definition.body.id
            - definition.body.properties
            - definition.body.properties.css_class
            - definition.body.properties.id
            - definition.body.sections
            - definition.body.styles
            - definition.body.styles.background_color
            - definition.body.styles.width
            - definition.id
            - definition.styles
            - definition.template_id
            - editor_type
            - html
            - name
            - text
            - updated
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`name`: `any`, `contains`, `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`'
        schema:
          type: string
          example: equals(id,['example'])
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 10. Min: 1. Max: 10.'
        required: false
        schema:
          type: integer
          default: 10
          maximum: 10
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
          - id
          - -id
          - name
          - -name
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetTemplateDndResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:read
    post:
      operationId: create_template
      summary: Create Template
      description: 'Create a new HTML or drag-and-drop template.


        If there are 1,000 or more templates in an account, creation will fail as there is a limit of 1,000 templates

        that can be created via the API.


        Request specific fields using sparse fieldsets.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: additional-fields[template]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''definition'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TemplateCreateHtmlOrDndQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostTemplateDndResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
  /api/templates/{id}:
    get:
      operationId: get_template
      summary: Get Template
      description: 'Get a template with the given template ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: id
        in: path
        description: The ID of template
        required: true
        schema:
          description: The ID of template
          type: string
      - name: additional-fields[template]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''definition'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
        explode: false
      - name: fields[template]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - amp
            - created
            - definition
            - definition.body
            - definition.body.id
            - definition.body.properties
            - definition.body.properties.css_class
            - definition.body.properties.id
            - definition.body.sections
            - definition.body.styles
            - definition.body.styles.background_color
            - definition.body.styles.width
            - definition.id
            - definition.styles
            - definition.template_id
            - editor_type
            - html
            - name
            - text
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetTemplateDndResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:read
    patch:
      operationId: update_template
      summary: Update Template
      description: 'Update a template with the given template ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: id
        in: path
        description: The ID of template
        required: true
        schema:
          description: The ID of template
          type: string
      - name: additional-fields[template]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''definition'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateHtmlOrDndQuery'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PatchTemplateDndResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
    delete:
      operationId: delete_template
      summary: Delete Template
      description: 'Delete a template with the given template ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: id
        in: path
        description: The ID of template
        required: true
        schema:
          description: The ID of template
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
  /api/template-universal-content:
    get:
      operationId: get_all_universal_content
      summary: Get All Universal Content
      description: 'Get all universal content in an account.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: fields[template-universal-content]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.content_type
            - definition.data
            - definition.data.content
            - definition.data.display_options
            - definition.data.display_options.content_repeat
            - definition.data.display_options.content_repeat.item_alias
            - definition.data.display_options.content_repeat.repeat_for
            - definition.data.display_options.show_on
            - definition.data.display_options.visible_check
            - definition.data.styles
            - definition.data.styles.background_color
            - definition.data.styles.block_background_color
            - definition.data.styles.block_border_color
            - definition.data.styles.block_border_style
            - definition.data.styles.block_border_width
            - definition.data.styles.block_padding_bottom
            - definition.data.styles.block_padding_left
            - definition.data.styles.block_padding_right
            - definition.data.styles.block_padding_top
            - definition.data.styles.color
            - definition.data.styles.extra_css_class
            - definition.data.styles.font_family
            - definition.data.styles.font_size
            - definition.data.styles.font_style
            - definition.data.styles.font_weight
            - definition.data.styles.inner_padding_bottom
            - definition.data.styles.inner_padding_left
            - definition.data.styles.inner_padding_right
            - definition.data.styles.inner_padding_top
            - definition.data.styles.letter_spacing
            - definition.data.styles.line_height
            - definition.data.styles.mobile_stretch_content
            - definition.data.styles.text_align
            - definition.data.styles.text_decoration
            - definition.data.styles.text_table_layout
            - definition.type
            - name
            - screenshot_status
            - screenshot_url
            - updated
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`name`: `any`, `equals`<br>`created`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`definition.content_type`: `equals`<br>`definition.type`: `equals`'
        schema:
          type: string
          example: equals(id,'01HWWWKAW4RHXQJCMW4R2KRYR4')
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 20. Min: 1. Max: 100.'
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
          - id
          - -id
          - name
          - -name
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetUniversalContentResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-operation-aliases:
      - get_template_universal_content
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:read
      x-klaviyo-subtag: Universal Content
    post:
      operationId: create_universal_content
      summary: Create Universal Content
      description: 'Create universal content. Currently supported block types are: `button`, `drop_shadow`, `horizontal_rule`, `html`, `image`, `spacer`, and `text`.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: Create a template universal content
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UniversalContentCreateQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostUniversalContentResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-operation-aliases:
      - create_template_universal_content
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
      x-klaviyo-subtag: Universal Content
  /api/template-universal-content/{id}:
    get:
      operationId: get_universal_content
      summary: Get Universal Content
      description: 'Get the universal content with the given ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: id
        in: path
        description: The ID of the universal content
        required: true
        schema:
          description: The ID of the universal content
          type: string
          example: 01HWWWKAW4RHXQJCMW4R2KRYR4
      - name: fields[template-universal-content]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.content_type
            - definition.data
            - definition.data.content
            - definition.data.display_options
            - definition.data.display_options.content_repeat
            - definition.data.display_options.content_repeat.item_alias
            - definition.data.display_options.content_repeat.repeat_for
            - definition.data.display_options.show_on
            - definition.data.display_options.visible_check
            - definition.data.styles
            - definition.data.styles.background_color
            - definition.data.styles.block_background_color
            - definition.data.styles.block_border_color
            - definition.data.styles.block_border_style
            - definition.data.styles.block_border_width
            - definition.data.styles.block_padding_bottom
            - definition.data.styles.block_padding_left
            - definition.data.styles.block_padding_right
            - definition.data.styles.block_padding_top
            - definition.data.styles.color
            - definition.data.styles.extra_css_class
            - definition.data.styles.font_family
            - definition.data.styles.font_size
            - definition.data.styles.font_style
            - definition.data.styles.font_weight
            - definition.data.styles.inner_padding_bottom
            - definition.data.styles.inner_padding_left
            - definition.data.styles.inner_padding_right
            - definition.data.styles.inner_padding_top
            - definition.data.styles.letter_spacing
            - definition.data.styles.line_height
            - definition.data.styles.mobile_stretch_content
            - definition.data.styles.text_align
            - definition.data.styles.text_decoration
            - definition.data.styles.text_table_layout
            - definition.type
            - name
            - screenshot_status
            - screenshot_url
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetUniversalContentResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:read
      x-klaviyo-subtag: Universal Content
    patch:
      operationId: update_universal_content
      summary: Update Universal Content
      description: 'Update universal content. The `definition` field can only be updated on the following block types at this time: `button`, `drop_shadow`, `horizontal_rule`, `html`, `image`, `spacer`, and `text`.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: id
        in: path
        description: The ID of the template universal content
        required: true
        schema:
          description: The ID of the template universal content
          type: string
          example: 01HWWWKAW4RHXQJCMW4R2KRYR4
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: Update a universal content by ID
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UniversalContentPartialUpdateQuery'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PatchUniversalContentResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-operation-aliases:
      - update_template_universal_content
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
      x-klaviyo-subtag: Universal Content
    delete:
      operationId: delete_universal_content
      summary: Delete Universal Content
      description: 'Delete the universal content with the given ID.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: id
        in: path
        description: The ID of the template universal content
        required: true
        schema:
          description: The ID of the template universal content
          type: string
          example: 01HWWWKAW4RHXQJCMW4R2KRYR4
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-operation-aliases:
      - delete_template_universal_content
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
      x-klaviyo-subtag: Universal Content
  /api/template-render:
    post:
      operationId: render_template
      summary: Render Template
      description: 'Render a template with the given template ID and context attribute. Returns the AMP, HTML, and plain text versions of the email template.


        **Request body parameters** (nested under `attributes`):


        * `return_fields`: Request specific fields using sparse fieldsets.


        * `context`: This is the context your email template will be rendered with. You must pass in a `context` object as a JSON object.


        Email templates are rendered with contexts in a similar manner to Django templates. Nested template variables can be referenced via dot notation. Template variables without corresponding `context` values are treated as `FALSE` and output nothing.


        Ex. `{ "name" : "George Washington", "state" : "VA" }`


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TemplateRenderQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-operation-aliases:
      - create_template_render
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - templates:read
  /api/template-clone:
    post:
      operationId: clone_template
      summary: Clone Template
      description: 'Create a clone of a template with the given template ID.


        If there are 1,000 or more templates in an account, cloning will fail as there is a limit of 1,000 templates

        that can be created via the API.


        *Rate limits*:

        Burst: `75/s`

        Steady: `750/m`


        **Scopes:**

        `templates:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TemplateCloneQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Templates
      x-klaviyo-operation-aliases:
      - create_template_clone
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 75/s
        steady: 750/m
      x-klaviyo-scopes:
      - templates:write
components:
  schemas:
    PatchUniversalContentResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/TemplateUniversalContentEnum'
            id:
              description: The ID of the universal content
              type: string
              example: 01HWWWKAW4RHXQJCMW4R2KRYR4
            attributes:
              type: object
              properties:
                name:
                  description: The name for this universal content
                  type: string
                definition:
                  oneOf:
                  - $ref: '#/components/schemas/ButtonBlockV0'
                  - $ref: '#/components/schemas/CouponBlockV0'
                  - $ref: '#/components/schemas/DropShadowBlockV0'
                  - $ref: '#/components/schemas/HeaderBlockV0'
                  - $ref: '#/components/schemas/HorizontalRuleBlockV0'
                  - $ref: '#/components/schemas/HTMLBlockV0'
                  - $ref: '#/components/schemas/ImageBlockV0'
                  - $ref: '#/components/schemas/ProductBlockV0'
                  - $ref: '#/components/schemas/ReviewBlockV0'
                  - $ref: '#/components/schemas/SocialBlockV0'
                  - $ref: '#/components/schemas/SpacerBlockV0'
                  - $ref: '#/components/schemas/SplitBlockV0'
                  - $ref: '#/components/schemas/TableBlockV0'
                  - $ref: '#/components/schemas/TextBlockV0'
                  - $ref: '#/components/schemas/UnsupportedBlock'
                  - $ref: '#/components/schemas/VideoBlockV0'
                  - $ref: '#/components/schemas/SectionV0'
                created:
                  description: The datetime when this universal content was created
                  type: string
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                updated:
                  description: The datetime when this universal content was updated
                  type: string
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                screenshot_status:
                  description: The status of a universal content screenshot.
                  type: string
                  enum:
                  - completed
                  - failed
                  - generating
                  - never_generated
                  - not_renderable
                  - stale
                screenshot_url:
                  type: string
              required:
              - name
              - created
              - updated
              - screenshot_status
              - screenshot_url
            links:
              $ref: '#/components/schemas/ObjectLinks'
          required:
          - type
          - id
          - attributes
          - links
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    ProductBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - product
        data:
          $ref: '#/components/schemas/ProductBlockData'
        subblocks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductSubBlock'
      required:
      - content_type
      - type
      - data
    HTMLBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - html
        data:
          $ref: '#/components/schemas/HTMLBlockDataV0'
      required:
      - content_type
      - type
      - data
    BaseStyle:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        style_type:
          type: string
          enum:
          - base-styles
        properties:
          $ref: '#/components/schemas/BaseStyleProperties'
        styles:
          $ref: '#/components/schemas/BaseStyleStyles'
      required:
      - style_type
      - properties
      - styles
    TemplateEnum:
      type: string
      enum:
      - template
    DynamicImageBlockProperties:
      type: object
      properties:
        dynamic:
          type: boolean
          enum:
          - true
        alt_text:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        src:
          type:
          - string
          - 'null'
      required:
      - dynamic
    GetTemplateDndResponse:
      type: object
      properties:
        data:
          allOf:
          - properties:
              type:
                $ref: '#/components/schemas/TemplateEnum'
              attributes:
                properties:
                  definition:
                    description: Template definition for SYSTEM_DRAGGABLE templates. Omitted for CODE/USER_DRAGGABLE. Use additional-fields[template]=definition to include in list responses.
                    $ref: '#/components/schemas/TemplateDefinition'
          - $ref: '#/components/schemas/TemplateDndResponseObjectResource'
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    HorizontalRuleBlockData:
      type: object
      properties:
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/HorizontalRuleBlockStyles'
      required:
      - display_options
      - styles
    PatchTemplateDndResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/TemplateEnum'
            id:
              description: The ID of template
              type: string
            attributes:
              type: object
              properties:
                name:
                  description: The name of the template
                  type: string
                editor_type:
                  description: '`editor_type` has a fixed set of values:

                    * SYSTEM_DRAGGABLE: indicates a drag-and-drop editor template

                    * SIMPLE: A rich text editor template

                    * CODE: A custom HTML template

                    * USER_DRAGGABLE: A hybrid template, using custom HTML in the drag-and-drop editor'
                  type: string
                html:
                  description: The rendered HTML of the template
                  type: string
                text:
                  description: The template plain_text
                  type:
                  - string
                  - 'null'
                amp:
                  description: The AMP version of the template. Requires AMP Email to be enabled to access in-app. Refer to the AMP Email setup guide at https://developers.klaviyo.com/en/docs/send_amp_emails_in_klaviyo
                  type:
                  - string
                  - 'null'
                created:
                  description: The date the template was created in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                updated:
                  description: The date the template was updated in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                definition:
                  description: Template definition for SYSTEM_DRAGGABLE templates. Omitted for CODE/USER_DRAGGABLE. Use additional-fields[template]=definition to include in list responses.
                  $ref: '#/components/schemas/TemplateDefinition'
              required:
              - name
              - editor_type
              - html
            links:
              $ref: '#/components/schemas/ObjectLinks'
          required:
          - type
          - id
          - attributes
          - links
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    ButtonBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - button
        data: {}
      required:
      - content_type
      - type
      - data
    TemplateCloneQueryResourceObject:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TemplateEnum'
        id:
          description: The ID of template to be cloned
          type: string
        attributes:
          type: object
          properties:
            name:
              description: The name of the template
              type:
              - string
              - 'null'
              example: Clone of Monthly Newsletter Template
      required:
      - type
      - id
      - attributes
    VideoBlockProperties:
      type: object
      properties:
        raw_asset_id:
          type:
          - string
          - 'null'
        src_asset_id:
          type:
          - string
          - 'null'
        alt_text:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        overlay_toggle:
          type:
          - boolean
          - 'null'
        raw_src:
          type:
          - string
          - 'null'
        src:
          type:
          - string
          - 'null'
    TemplateCreateHtmlOrDndQuery:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TemplateCreateHtmlOrDndQueryResourceObject'
      required:
      - data
    RowV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        data:
          $ref: '#/components/schemas/RowData'
        columns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ColumnV1'
      required:
      - data
    HeaderBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - header
        data:
          $ref: '#/components/schemas/HeaderBlockData'
        subblocks:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/HeaderLinkSubBlock'
            - $ref: '#/components/schemas/HeaderImageSubBlock'
            - $ref: '#/components/schemas/HeaderLogoSubBlock'
      required:
      - content_type
      - type
      - data
    HeaderLogoSubBlock:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - header_link_bar_logo
        alt_text:
          type:
          - string
          - 'null'
        asset_id:
          type:
          - string
          - 'null'
        height:
          type:
          - integer
          - 'null'
        href:
          type:
          - string
          - 'null'
        max_width:
          type:
          - integer
          - 'null'
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        src:
          type:
          - string
          - 'null'
        width:
          type:
          - integer
          - 'null'
      required:
      - type
    ContentRepeatV0:
      type: object
      properties:
        repeat_for:
          type: string
        item_alias:
          type: string
      required:
      - repeat_for
      - item_alias
    Heading2Style:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        style_type:
          type: string
          enum:
          - heading-2-styles
        styles:
          $ref: '#/components/schemas/HeadingStyleStyles'
      required:
      - style_type
      - styles
    HorizontalRuleBlockStyles:
      type: object
      properties:
        block_background_color:
          type:
          - string
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        border_color:
          type:
          - string
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        mobile_stretch_content:
          type:
          - boolean
          - 'null'
    SplitBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - split
        data:
          oneOf:
          - type: integer
          - type: number
          - type: string
          - type: boolean
      required:
      - content_type
      - type
      - data
    UniversalContentPartialUpdateQueryResourceObject:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TemplateUniversalContentEnum'
        id:
          description: The ID of the template universal content
          type: string
          example: 01HWWWKAW4RHXQJCMW4R2KRYR4
        attributes:
          type: object
          properties:
            name:
              description: The name for this template universal content
              type:
              - string
              - 'null'
            definition:
              oneOf:
              - $ref: '#/components/schemas/ButtonBlockV0'
              - $ref: '#/components/schemas/DropShadowBlockV0'
              - $ref: '#/components/schemas/HorizontalRuleBlockV0'
              - $ref: '#/components/schemas/HTMLBlockV0'
              - $ref: '#/components/schemas/ImageBlockV0'
              - $ref: '#/components/schemas/SpacerBlockV0'
              - $ref: '#/components/schemas/TextBlockV0'
      required:
      - type
      - id
      - attributes
    TableHtmlSubBlock:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - table_html
      required:
      - type
    SplitBlockStyles:
      type: object
      properties:
        block_background_color:
          type:
          - string
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        column_widths:
          type:
          - string
          - 'null'
        mobile_stack_order:
          description: Stacking direction.
          type:
          - string
          - 'null'
          enum:
          - ltr
          - no-stack
          - rtl
        padding_in_between:
          type:
          - integer
          - 'null'
    SectionData:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/SectionProperties'
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/SectionStyles'
      required:
      - properties
      - display_options
      - styles
    TextBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - text
        data:
          $ref: '#/components/schemas/TextBlockDataV0'
      required:
      - content_type
      - type
      - data
    HorizontalRuleBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - horizontal_rule
        data: {}
      required:
      - content_type
      - type
      - data
    ReviewBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - review
        data:
          oneOf:
          - type: integer
          - type: number
          - type: string
          - type: boolean
      required:
      - content_type
      - type
      - data
    SplitBlockData:
      type: object
      properties:
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/SplitBlockStyles'
      required:
      - display_options
      - styles
    PostTemplateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/TemplateEnum'
            id:
              description: The ID of template
              type: string
            attributes:
              type: object
              properties:
                name:
                  description: The name of the template
                  type: string
                editor_type:
                  description: '`editor_type` has a fixed set of values:

                    * SYSTEM_DRAGGABLE: indicates a drag-and-drop editor template

                    * SIMPLE: A rich text editor template

                    * CODE: A custom HTML template

                    * USER_DRAGGABLE: A hybrid template, using custom HTML in the drag-and-drop editor'
                  type: string
                html:
                  description: The rendered HTML of the template
                  type: string
                text:
                  description: The template plain_text
                  type:
                  - string
                  - 'null'
                amp:
                  description: The AMP version of the template. Requires AMP Email to be enabled to access in-app. Refer to the AMP Email setup guide at https://developers.klaviyo.com/en/docs/send_amp_emails_in_klaviyo
                  type:
                  - string
                  - 'null'
                created:
                  description: The date the template was created in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                updated:
                  description: The date the template was updated in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
              required:
              - name
              - editor_type
              - html
            links:
              $ref: '#/components/schemas/ObjectLinks'
          required:
          - type
          - id
          - attributes
          - links
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    ButtonBlockProperties:
      type: object
      properties:
        href:
          type:
          - string
          - 'null'
    TableFallbackTextSubBlock:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        cell_text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        color:
          type:
          - string
          - 'null'
        font_family:
          type:
          - string
          - 'null'
        font_size:
          type:
          - integer
          - 'null'
        font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        font_weight:
          type:
          - string
          - 'null'
        letter_spacing:
          type:
          - integer
          - 'null'
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        table_column_width:
          type:
          - string
          - 'null'
        text_decoration:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - table_fallback_text
      required:
      - type
    RowStyles:
      type: object
      properties:
        column_layout:
          description: Column layout.
          type:
          - string
          - 'null'
          enum:
          - 1-column-full-width
          - 2-columns-25%-75%
          - 2-columns-33%-67%
          - 2-columns-67%-33%
          - 2-columns-75%-25%
          - 2-columns-equal-width
          - 3-columns-25%-25%-50%
          - 3-columns-25%-50%-25%
          - 3-columns-50%-25%-25%
          - 3-columns-equal-width
          - 4-columns-equal-width
    DynamicProductBlockProperties:
      type: object
      properties:
        is_ai_generated:
          type:
          - boolean
          - 'null'
        is_prebuilt_content:
          type:
          - boolean
          - 'null'
        item_subtype_id:
          type:
          - integer
          - 'null'
        show_button:
          type:
          - boolean
          - 'null'
        show_original_price:
          type:
          - boolean
          - 'null'
        show_price:
          type:
          - boolean
          - 'null'
        show_rating:
          type:
          - boolean
          - 'null'
        show_rating_count:
          type:
          - boolean
          - 'null'
        show_title:
          type:
          - boolean
          - 'null'
        show_title_links:
          type:
          - boolean
          - 'null'
        title_placeholder:
          type:
          - string
          - 'null'
        dynamic:
          type: boolean
          enum:
          - true
        button_text:
          type:
          - string
          - 'null'
        feed:
          type:
          - string
          - 'null'
        feed_offset:
          type:
          - integer
          - 'null'
        is_nbp:
          type:
          - boolean
          - 'null'
      required:
      - dynamic
    TextBlockStylesV0:
      type: object
      properties:
        background_color:
          type:
          - string
          - 'null'
        block_background_color:
          type:
          - string
          - 'null'
        block_border_color:
          type:
          - string
          - 'null'
        block_border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        block_border_width:
          type:
          - integer
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        color:
          type:
          - string
          - 'null'
        extra_css_class:
          type:
          - string
          - 'null'
        font_family:
          type:
          - string
          - 'null'
        font_size:
          type:
          - integer
          - 'null'
        font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        font_weight:
          type:
          - string
          - 'null'
        inner_padding_bottom:
          type:
          - integer
          - 'null'
        inner_padding_left:
          type:
          - integer
          - 'null'
        inner_padding_right:
          type:
          - integer
          - 'null'
        inner_padding_top:
          type:
          - integer
          - 'null'
        letter_spacing:
          type:
          - integer
          - 'null'
        line_height:
          type:
          - number
          - 'null'
        mobile_stretch_content:
          type:
          - boolean
          - 'null'
        text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        text_decoration:
          type:
          - string
          - 'null'
        text_table_layout:
          description: Text table layout.
          type:
          - string
          - 'null'
          enum:
          - auto
          - fixed
          - inherit
          - initial
    VideoBlockStyles:
      type: object
      properties:
        align:
          description: Image Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        background_color:
          type:
          - string
          - 'null'
        block_background_color:
          type:
          - string
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        border_color:
          type:
          - string
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        full_width_mobile:
          type:
          - boolean
          - 'null'
        height:
          type:
          - integer
          - 'null'
        inner_padding_bottom:
          type:
          - integer
          - 'null'
        inner_padding_left:
          type:
          - integer
          - 'null'
        inner_padding_right:
          type:
          - integer
          - 'null'
        inner_padding_top:
          type:
          - integer
          - 'null'
        max_width:
          type:
          - integer
          - 'null'
        mobile_stretch_content:
          type:
          - boolean
          - 'null'
        width:
          type:
          - integer
          - 'null'
    ContentRepeatV1:
      type: object
      properties:
        repeat_for:
          type: string
        item_alias:
          type: string
      required:
      - repeat_for
      - item_alias
    TableTextSubBlock:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        cell_text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        color:
          type:
          - string
          - 'null'
        font_family:
          type:
          - string
          - 'null'
        font_size:
          type:
          - integer
          - 'null'
        font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        font_weight:
          type:
          - string
          - 'null'
        letter_spacing:
          type:
          - integer
          - 'null'
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        table_column_width:
          type:
          - string
          - 'null'
        text_decoration:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - table_text
      required:
      - type
    SplitBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - split
        data:
          $ref: '#/components/schemas/SplitBlockData'
        subblocks:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/TableTextSubBlock'
            - $ref: '#/components/schemas/TableImageSubBlock'
            - $ref: '#/components/schemas/TableHtmlSubBlock'
      required:
      - content_type
      - type
      - data
    HTMLBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - html
        data:
          $ref: '#/components/schemas/HTMLBlockDataV1'
      required:
      - content_type
      - type
      - data
    RowData:
      type: object
      properties:
        styles:
          $ref: '#/components/schemas/RowStyles'
      required:
      - styles
    TableFallbackHtmlSubBlock:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - table_fallback_html
      required:
      - type
    DisplayOptions:
      type: object
      properties:
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        content_repeat:
          $ref: '#/components/schemas/ContentRepeatV1'
        visibility:
          $ref: '#/components/schemas/Visibility'
    SpacerBlockData:
      type: object
      properties:
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/SpacerBlockStyles'
      required:
      - display_options
      - styles
    Heading1Style:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        style_type:
          type: string
          enum:
          - heading-1-styles
        styles:
          $ref: '#/components/schemas/HeadingStyleStyles'
      required:
      - style_type
      - styles
    TableHeaderSubBlock:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        cell_text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        color:
          type:
          - string
          - 'null'
        font_family:
          type:
          - string
          - 'null'
        font_size:
          type:
          - integer
          - 'null'
        font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        font_weight:
          type:
          - string
          - 'null'
        letter_spacing:
          type:
          - integer
          - 'null'
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        table_column_width:
          type:
          - string
          - 'null'
        text_decoration:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - table_header
      required:
      - type
    GetTemplateDndResponseCollection:
      type: object
      properties:
        data:
          type: array
          items:
            allOf:
            - properties:
                type:
                  $ref: '#/components/schemas/TemplateEnum'
                attributes:
                  properties:
                    definition:
                      description: Template definition for SYSTEM_DRAGGABLE templates. Omitted for CODE/USER_DRAGGABLE. Use additional-fields[template]=definition to include in list responses.
                      $ref: '#/components/schemas/TemplateDefinition'
            - $ref: '#/components/schemas/TemplateDndResponseObjectResource'
        links:
          $ref: '#/components/schemas/CollectionLinks'
      required:
      - data
    ColumnData:
      type: object
      maxProperties: 0
    ButtonBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - button
        data:
          $ref: '#/components/schemas/ButtonBlockData'
      required:
      - content_type
      - type
      - data
    CouponBlockStyles:
      type: object
      properties:
        background_color:
          type:
          - string
          - 'null'
        block_background_color:
          type:
          - string
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        border_color:
          type:
          - string
          - 'null'
        border_radius:
          type:
          - integer
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        color:
          type:
          - string
          - 'null'
        font_family:
          type:
          - string
          - 'null'
        font_size:
          type:
          - integer
          - 'null'
        font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        font_weight:
          type:
          - string
          - 'null'
        header_font_family:
          type:
          - string
          - 'null'
        header_font_size:
          type:
          - integer
          - 'null'
        header_padding_bottom:
          type:
          - integer
          - 'null'
        header_padding_left:
          type:
          - integer
          - 'null'
        header_padding_right:
          type:
          - integer
          - 'null'
        header_padding_top:
          type:
          - integer
          - 'null'
        inner_padding_bottom:
          type:
          - integer
          - 'null'
        inner_padding_left:
          type:
          - integer
          - 'null'
        inner_padding_right:
          type:
          - integer
          - 'null'
        inner_padding_top:
          type:
          - integer
          - 'null'
        letter_spacing:
          type:
          - integer
          - 'null'
        mobile_stretch_content:
          type:
          - boolean
          - 'null'
        stretch:
          type:
          - boolean
          - 'null'
        text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        text_decoration:
          type:
          - string
          - 'null'
    TemplateRenderQuery:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TemplateRenderQueryResourceObject'
      required:
      - data
    SectionStyles:
      type: object
      properties:
        background_asset_id:
          type:
          - string
          - 'null'
        background_color:
          type:
          - string
          - 'null'
        background_format:
          description: Background format.
          type:
          - string
          - 'null'
          enum:
          - auto
          - contain
          - cover
          - initial
          - repeat
        background_image_full_width:
          type:
          - boolean
          - 'null'
        background_position:
          description: Background position.
          type:
          - string
          - 'null'
          enum:
          - center-bottom
          - center-center
          - center-top
          - left-bottom
          - left-center
          - left-top
          - right-bottom
          - right-center
          - right-top
        background_repeat:
          type:
          - boolean
          - 'null'
        background_url:
          type:
          - string
          - 'null'
        border_color:
          type:
          - string
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        column_align:
          description: Vertical alignment.
          type:
          - string
          - 'null'
          enum:
          - baseline
          - bottom
          - middle
          - top
        column_direction:
          description: Stacking direction.
          type:
          - string
          - 'null'
          enum:
          - ltr
          - no-stack
          - rtl
        content_color:
          type:
          - string
          - 'null'
        content_color_type:
          description: Content color type.
          type:
          - string
          - 'null'
          enum:
          - none
          - section
          - template
        inner_padding_bottom:
          type:
          - integer
          - 'null'
        inner_padding_left:
          type:
          - integer
          - 'null'
        inner_padding_right:
          type:
          - integer
          - 'null'
        inner_padding_top:
          type:
          - integer
          - 'null'
        stack_on_mobile:
          type:
          - boolean
          - 'null'
    ImageBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - image
        data:
          $ref: '#/components/schemas/ImageBlockData'
      required:
      - content_type
      - type
      - data
    TemplateRenderQueryResourceObject:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TemplateEnum'
        id:
          description: The ID of template
          type: string
        attributes:
          type: object
          properties:
            context:
              description: The context for the template render. This must be a JSON object which has values for any tags used in the template. See [this doc](https://help.klaviyo.com/hc/en-us/articles/4408802648731) for more details.
              type: object
              example:
                first_name: Jane
                last_name: Smith
          required:
          - context
      required:
      - type
      - id
      - attributes
    TableBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - table
        data:
          $ref: '#/components/schemas/TableBlockData'
        subblocks:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/TableHeaderSubBlock'
            - $ref: '#/components/schemas/TableHtmlSubBlock'
            - $ref: '#/components/schemas/TableImageSubBlock'
            - $ref: '#/components/schemas/TableTextSubBlock'
            - $ref: '#/components/schemas/TableFallbackHtmlSubBlock'
            - $ref: '#/components/schemas/TableFallbackImageSubBlock'
            - $ref: '#/components/schemas/TableFallbackTextSubBlock'
      required:
      - content_type
      - type
      - data
    SocialBlockProperties:
      type: object
      properties:
        show_labels:
          type:
          - boolean
          - 'null'
    TemplateDndResponseObjectResource:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TemplateEnum'
        id:
          description: The ID of template
          type: string
        attributes:
          type: object
          properties:
            name:
              description: The name of the template
              type: string
            editor_type:
              description: '`editor_type` has a fixed set of values:

                * SYSTEM_DRAGGABLE: indicates a drag-and-drop editor template

                * SIMPLE: A rich text editor template

                * CODE: A custom HTML template

                * USER_DRAGGABLE: A hybrid template, using custom HTML in the drag-and-drop editor'
              type: string
            html:
              description: The rendered HTML of the template
              type: string
            text:
              description: The template plain_text
              type:
              - string
              - 'null'
            amp:
              description: The AMP version of the template. Requires AMP Email to be enabled to access in-app. Refer to the AMP Email setup guide at https://developers.klaviyo.com/en/docs/send_amp_emails_in_klaviyo
              type:
              - string
              - 'null'
            created:
              description: The date the template was created in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
              type:
              - string
              - 'null'
              format: date-time
              example: '2022-11-08T00:00:00+00:00'
            updated:
              description: The date the template was updated in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
              type:
              - string
              - 'null'
              format: date-time
              example: '2022-11-08T00:00:00+00:00'
          required:
          - name
          - editor_type
          - html
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - type
      - id
      - attributes
      - links
    UniversalContentPartialUpdateQuery:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UniversalContentPartialUpdateQueryResourceObject'
      required:
      - data
    TableFallbackImageSubBlock:
      type: object
      properties:
        dynamic:
          type:
          - boolean
          - 'null'
        alt_text:
          type:
          - string
          - 'null'
        asset_id:
          type:
          - string
          - 'null'
        href:
          type:
          - string
          - 'null'
        src:
          type:
          - string
          - 'null'
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        image_width:
          type:
          - integer
          - 'null'
        image_align:
          description: Image Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        show_on:
          description: Show on.
          type:
          - string
          - 'null'
          enum:
          - all
          - desktop
          - mobile
        table_column_width:
          type:
          - string
          - 'null'
        cell_text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        cropped_asset_id:
          type:
          - string
          - 'null'
        cropped_src:
          type:
          - string
          - 'null'
        cropping_aspect_ratio:
          type:
          - string
          - 'null'
        cropping_height:
          type:
          - integer
          - 'null'
        cropping_width:
          type:
          - integer
          - 'null'
        cropping_x:
          type:
          - integer
          - 'null'
        cropping_y:
          type:
          - integer
          - 'null'
        id:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          enum:
          - table_fallback_image
      required:
      - type
    PostTemplateDndResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/TemplateEnum'
            id:
              description: The ID of template
              type: string
            attributes:
              type: object
              properties:
                name:
                  description: The name of the template
                  type: string
                editor_type:
                  description: '`editor_type` has a fixed set of values:

                    * SYSTEM_DRAGGABLE: indicates a drag-and-drop editor template

                    * SIMPLE: A rich text editor template

                    * CODE: A custom HTML template

                    * USER_DRAGGABLE: A hybrid template, using custom HTML in the drag-and-drop editor'
                  type: string
                html:
                  description: The rendered HTML of the template
                  type: string
                text:
                  description: The template plain_text
                  type:
                  - string
                  - 'null'
                amp:
                  description: The AMP version of the template. Requires AMP Email to be enabled to access in-app. Refer to the AMP Email setup guide at https://developers.klaviyo.com/en/docs/send_amp_emails_in_klaviyo
                  type:
                  - string
                  - 'null'
                created:
                  description: The date the template was created in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                updated:
                  description: The date the template was updated in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                definition:
                  description: Template definition for SYSTEM_DRAGGABLE templates. Omitted for CODE/USER_DRAGGABLE. Use additional-fields[template]=definition to include in list responses.
                  $ref: '#/components/schemas/TemplateDefinition'
              required:
              - name
              - editor_type
              - html
            links:
              $ref: '#/components/schemas/ObjectLinks'
          required:
          - type
          - id
          - attributes
          - links
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    ReviewBlockStyles:
      type: object
      properties:
        author_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        author_color:
          type:
          - string
          - 'null'
        author_font_family:
          type:
          - string
          - 'null'
        author_font_size:
          type:
          - integer
          - 'null'
        author_font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        author_font_weight:
          type:
          - string
          - 'null'
        author_letter_spacing:
          type:
          - integer
          - 'null'
        author_text_decoration:
          type:
          - string
          - 'null'
        block_background_color:
          type:
          - string
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        border_radius:
          type:
          - integer
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        empty_star_color:
          type:
          - string
          - 'null'
        layout:
          description: Review block layout options.
          type:
          - string
          - 'null'
          enum:
          - big-quotes
          - centered-in-quote-bubble
          - centered-rating-first
          - centered-review-first
          - clean
          - left-aligned
          - message-bubble
          - rating-highlight
          - right-aligned-with-quotation-icon
          - square
          - stacked-card
          - subtle-background
        product_name_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        product_name_color:
          type:
          - string
          - 'null'
        product_name_font_family:
          type:
          - string
          - 'null'
        product_name_font_size:
          type:
          - integer
          - 'null'
        product_name_font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        product_name_font_weight:
          type:
          - string
          - 'null'
        product_name_letter_spacing:
          type:
          - integer
          - 'null'
        product_name_text_decoration:
          type:
          - string
          - 'null'
        quote_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        quote_color:
          type:
          - string
          - 'null'
        quote_font_family:
          type:
          - string
          - 'null'
        quote_font_size:
          type:
          - integer
          - 'null'
        quote_font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        quote_font_weight:
          type:
          - string
          - 'null'
        quote_letter_spacing:
          type:
          - integer
          - 'null'
        quote_line_height:
          type:
          - number
          - 'null'
        quote_style:
          description: Review block quote style.
          type:
          - string
          - 'null'
          enum:
          - line
          - square
          - standard
        quote_text_decoration:
          type:
          - string
          - 'null'
        shadow_color:
          description: Shadow color.
          type:
          - string
          - 'null'
          enum:
          - dark
          - light
          - medium
        star_color:
          type:
          - string
          - 'null'
        star_size:
          description: Review block star size.
          type:
          - string
          - 'null'
          enum:
          - large
          - medium
          - small
        star_rating_shape:
          description: Review block star rating shape.
          type:
          - string
          - 'null'
          enum:
          - circle
          - heart
          - star
        star_icon_spacing:
          type:
          - integer
          - 'null'
        star_alignment:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        text_area_bg_color:
          type:
          - string
          - 'null'
        text_area_border_color:
          type:
          - string
          - 'null'
        verified_color:
          type:
          - string
          - 'null'
        verified_font_family:
          type:
          - string
          - 'null'
        verified_font_size:
          type:
          - integer
          - 'null'
        verified_font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        verified_font_weight:
          type:
          - string
          - 'null'
        verified_letter_spacing:
          type:
          - integer
          - 'null'
        verified_text_decoration:
          type:
          - string
          - 'null'
        verified_badge_color:
          type:
          - string
          - 'null'
        verified_badge_size:
          type:
          - integer
          - 'null'
        verified_badge_style:
          description: Review block verified badge style.
          type:
          - string
          - 'null'
          enum:
          - badge-and-text
          - badge-only
          - text-only
    SocialBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - social
        data:
          $ref: '#/components/schemas/SocialBlockData'
        subblocks:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/SocialIconSubBlock'
            - $ref: '#/components/schemas/SocialSpacerSubBlock'
      required:
      - content_type
      - type
      - data
    BaseStyleStyles:
      type: object
      properties:
        background_asset_id:
          type:
          - string
          - 'null'
        background_format:
          description: Background format.
          type:
          - string
          - 'null'
          enum:
          - auto
          - contain
          - cover
          - initial
          - repeat
        background_position:
          description: Background position.
          type:
          - string
          - 'null'
          enum:
          - center-bottom
          - center-center
          - center-top
          - left-bottom
          - left-center
          - left-top
          - right-bottom
          - right-center
          - right-top
        background_repeat:
          type:
          - boolean
          - 'null'
        background_url:
          type:
          - string
          - 'null'
        border_color:
          type:
          - string
          - 'null'
        border_radius:
          type:
          - integer
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        content_background_color:
          type:
          - string
          - 'null'
        inner_padding_bottom:
          type:
          - integer
          - 'null'
        inner_padding_left:
          type:
          - integer
          - 'null'
        inner_padding_right:
          type:
          - integer
          - 'null'
        inner_padding_top:
          type:
          - integer
          - 'null'
        margin_top:
          type:
          - integer
          - 'null'
    GetUniversalContentResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UniversalContentResponseObjectResource'
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    TemplateDefinition:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        template_id:
          type:
          - string
          - 'null'
          readOnly: true
        body:
          $ref: '#/components/schemas/Body'
        styles:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/BaseStyle'
            - $ref: '#/components/schemas/TextStyleV1'
            - $ref: '#/components/schemas/Heading1Style'
            - $ref: '#/components/schemas/Heading2Style'
            - $ref: '#/components/schemas/Heading3Style'
            - $ref: '#/components/schemas/Heading4Style'
            - $ref: '#/components/schemas/LinkStyle'
            - $ref: '#/components/schemas/MobileStyle'
      required:
      - body
      - styles
    UnsupportedBlock:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - unsupported
        data:
          oneOf:
          - type: integer
          - type: number
          - type: string
          - type: boolean
      required:
      - content_type
      - type
      - data
    StaticTableBlockProperties:
      type: object
      properties:
        dynamic:
          type:
          - boolean
          - 'null'
          enum:
          - false
        num_columns:
          type:
          - integer
          - 'null'
        show_headers:
          type:
          - boolean
          - 'null'
      required:
      - dynamic
    ButtonBlockStyles:
      type: object
      properties:
        background_color:
          type:
          - string
          - 'null'
        block_background_color:
          type:
          - string
          - 'null'
        block_padding_bottom:
          type:
          - integer
          - 'null'
        block_padding_left:
          type:
          - integer
          - 'null'
        block_padding_right:
          type:
          - integer
          - 'null'
        block_padding_top:
          type:
          - integer
          - 'null'
        border_color:
          type:
          - string
          - 'null'
        border_radius:
          type:
          - integer
          - 'null'
        border_style:
          description: Border style.
          type:
          - string
          - 'null'
          enum:
          - dashed
          - dotted
          - groove
          - inset
          - none
          - outset
          - ridge
          - solid
        border_width:
          type:
          - integer
          - 'null'
        color:
          type:
          - string
          - 'null'
        drop_shadow_color:
          type:
          - string
          - 'null'
        font_family:
          type:
          - string
          - 'null'
        font_size:
          type:
          - integer
          - 'null'
        font_style:
          description: Font style.
          type:
          - string
          - 'null'
          enum:
          - italic
          - normal
        font_weight:
          type:
          - string
          - 'null'
        inner_padding_bottom:
          type:
          - integer
          - 'null'
        inner_padding_left:
          type:
          - integer
          - 'null'
        inner_padding_right:
          type:
          - integer
          - 'null'
        inner_padding_top:
          type:
          - integer
          - 'null'
        letter_spacing:
          type:
          - integer
          - 'null'
        mobile_stretch_content:
          type:
          - boolean
          - 'null'
        stretch:
          type:
          - boolean
          - 'null'
        text_align:
          description: Text Alignment.
          type:
          - string
          - 'null'
          enum:
          - center
          - left
          - right
        text_decoration:
          type:
          - string
          - 'null'
    ReviewBlockData:
      type: object
      properties:
        properties:
          oneOf:
          - $ref: '#/components/schemas/StaticReviewBlockProperties'
          - $ref: '#/components/schemas/DynamicReviewBlockProperties'
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/ReviewBlockStyles'
      required:
      - properties
      - display_options
      - styles
    ImageBlockData:
      type: object
      properties:
        properties:
          oneOf:
          - $ref: '#/components/schemas/StaticImageBlockProperties'
          - $ref: '#/components/schemas/DynamicImageBlockProperties'
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/ImageBlockStyles'
      required:
      - properties
      - display_options
      - styles
    SpacerBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - spacer
        data: {}
      required:
      - content_type
      - type
      - data
    SocialBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - social
        data:
          oneOf:
          - type: integer
          - type: number
          - type: string
          - type: boolean
      required:
      - content_type
      - type
      - data
    PostUniversalContentResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              $ref: '#/components/schemas/TemplateUniversalContentEnum'
            id:
              description: The ID of the universal content
              type: string
              example: 01HWWWKAW4RHXQJCMW4R2KRYR4
            attributes:
              type: object
              properties:
                name:
                  description: The name for this universal content
                  type: string
                definition:
                  oneOf:
                  - $ref: '#/components/schemas/ButtonBlockV0'
                  - $ref: '#/components/schemas/CouponBlockV0'
                  - $ref: '#/components/schemas/DropShadowBlockV0'
                  - $ref: '#/components/schemas/HeaderBlockV0'
                  - $ref: '#/components/schemas/HorizontalRuleBlockV0'
                  - $ref: '#/components/schemas/HTMLBlockV0'
                  - $ref: '#/components/schemas/ImageBlockV0'
                  - $ref: '#/components/schemas/ProductBlockV0'
                  - $ref: '#/components/schemas/ReviewBlockV0'
                  - $ref: '#/components/schemas/SocialBlockV0'
                  - $ref: '#/components/schemas/SpacerBlockV0'
                  - $ref: '#/components/schemas/SplitBlockV0'
                  - $ref: '#/components/schemas/TableBlockV0'
                  - $ref: '#/components/schemas/TextBlockV0'
                  - $ref: '#/components/schemas/UnsupportedBlock'
                  - $ref: '#/components/schemas/VideoBlockV0'
                  - $ref: '#/components/schemas/SectionV0'
                created:
                  description: The datetime when this universal content was created
                  type: string
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                updated:
                  description: The datetime when this universal content was updated
                  type: string
                  format: date-time
                  example: '2022-11-08T00:00:00+00:00'
                screenshot_status:
                  description: The status of a universal content screenshot.
                  type: string
                  enum:
                  - completed
                  - failed
                  - generating
                  - never_generated
                  - not_renderable
                  - stale
                screenshot_url:
                  type: string
              required:
              - name
              - created
              - updated
              - screenshot_status
              - screenshot_url
            links:
              $ref: '#/components/schemas/ObjectLinks'
          required:
          - type
          - id
          - attributes
          - links
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    ProductBlockV0:
      type: object
      properties:
        content_type:
          type: string
          enum:
          - block
        type:
          type: string
          enum:
          - product
        data:
          oneOf:
          - type: integer
          - type: number
          - type: string
          - type: boolean
      required:
      - content_type
      - type
      - data
    Visibility:
      type: object
      properties:
        check:
          type:
          - string
          - 'null'
        definition:
          type:
          - string
          - 'null'
        is_code_only:
          type:
          - boolean
          - 'null'
    DropShadowBlockData:
      type: object
      properties:
        display_options:
          $ref: '#/components/schemas/DisplayOptions'
        styles:
          $ref: '#/components/schemas/DropShadowBlockStyles'
      required:
      - display_options
      - styles
    TextBlockV1:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          readOnly: true
        data_id:
          type:
          - string
          - 'null'
          readOnly: true
        universal_id:
          type:
          - string
          - 'null'
          readOnly: true
        content_type:
          type: string
          enum:
[...]
