openapi: 3.2.0
info:
  title: Klaviyo Flows API
  version: '2026-04-15'
  description: The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.
  contact:
    name: Klaviyo Developer Experience Team
    email: developers@klaviyo.com
    url: https://developers.klaviyo.com
  termsOfService: https://www.klaviyo.com/legal/api-terms
  license:
    name: License
    url: https://www.klaviyo.com/legal
servers:
- url: https://a.klaviyo.com
  description: Production
security:
- Klaviyo-API-Key: []
tags:
- name: Flows
  description: flows
paths:
  /api/flows:
    get:
      operationId: get_flows
      summary: Get Flows
      description: 'Get all flows in an account.


        Returns a maximum of 50 flows per request, which can be paginated with cursor-based pagination.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: fields[flow-action]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.data
            - definition.data.action_output_filter
            - definition.data.action_output_filter.condition_groups
            - definition.data.branches
            - definition.data.current_experiment
            - definition.data.current_experiment.allocations
            - definition.data.current_experiment.automatic_winner_selection_settings
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty
            - definition.data.current_experiment.automatic_winner_selection_settings.enabled
            - definition.data.current_experiment.id
            - definition.data.current_experiment.name
            - definition.data.current_experiment.started
            - definition.data.current_experiment.variations
            - definition.data.current_experiment.winner_metric
            - definition.data.delay_until_time
            - definition.data.delay_until_weekdays
            - definition.data.experiment_status
            - definition.data.list_id
            - definition.data.main_action
            - definition.data.main_action.data
            - definition.data.main_action.data.message
            - definition.data.main_action.data.message.action_buttons
            - definition.data.main_action.data.message.add_info_link
            - definition.data.main_action.data.message.add_opt_out_language
            - definition.data.main_action.data.message.add_org_prefix
            - definition.data.main_action.data.message.add_tracking_params
            - definition.data.main_action.data.message.additional_filters
            - definition.data.main_action.data.message.additional_filters.condition_groups
            - definition.data.main_action.data.message.android_link
            - definition.data.main_action.data.message.badge
            - definition.data.main_action.data.message.badge_options
            - definition.data.main_action.data.message.badge_options.badge_config
            - definition.data.main_action.data.message.badge_options.set_from_property
            - definition.data.main_action.data.message.badge_options.value
            - definition.data.main_action.data.message.bcc_email
            - definition.data.main_action.data.message.body
            - definition.data.main_action.data.message.cc_email
            - definition.data.main_action.data.message.conversion_metric_id
            - definition.data.main_action.data.message.custom_tracking_params
            - definition.data.main_action.data.message.dynamic_image
            - definition.data.main_action.data.message.from_email
            - definition.data.main_action.data.message.from_label
            - definition.data.main_action.data.message.id
            - definition.data.main_action.data.message.image_id
            - definition.data.main_action.data.message.include_contact_card
            - definition.data.main_action.data.message.ios_link
            - definition.data.main_action.data.message.kv_pairs
            - definition.data.main_action.data.message.name
            - definition.data.main_action.data.message.on_open
            - definition.data.main_action.data.message.preview_text
            - definition.data.main_action.data.message.push_type
            - definition.data.main_action.data.message.reply_to_email
            - definition.data.main_action.data.message.shorten_links
            - definition.data.main_action.data.message.smart_sending_enabled
            - definition.data.main_action.data.message.sms_quiet_hours_enabled
            - definition.data.main_action.data.message.sound
            - definition.data.main_action.data.message.subject_line
            - definition.data.main_action.data.message.template_id
            - definition.data.main_action.data.message.title
            - definition.data.main_action.data.message.transactional
            - definition.data.main_action.data.message.video_asset_id
            - definition.data.main_action.data.status
            - definition.data.main_action.id
            - definition.data.main_action.links
            - definition.data.main_action.links.next
            - definition.data.main_action.temporary_id
            - definition.data.main_action.type
            - definition.data.message
            - definition.data.message.action_buttons
            - definition.data.message.add_info_link
            - definition.data.message.add_opt_out_language
            - definition.data.message.add_org_prefix
            - definition.data.message.add_tracking_params
            - definition.data.message.additional_filters
            - definition.data.message.additional_filters.condition_groups
            - definition.data.message.android_link
            - definition.data.message.badge
            - definition.data.message.badge_options
            - definition.data.message.badge_options.badge_config
            - definition.data.message.badge_options.set_from_property
            - definition.data.message.badge_options.value
            - definition.data.message.bcc_email
            - definition.data.message.body
            - definition.data.message.cc_email
            - definition.data.message.conversion_metric_id
            - definition.data.message.custom_tracking_params
            - definition.data.message.dynamic_image
            - definition.data.message.from_email
            - definition.data.message.from_label
            - definition.data.message.headers
            - definition.data.message.id
            - definition.data.message.image_id
            - definition.data.message.include_contact_card
            - definition.data.message.ios_link
            - definition.data.message.kv_pairs
            - definition.data.message.name
            - definition.data.message.on_open
            - definition.data.message.preview_text
            - definition.data.message.push_type
            - definition.data.message.reply_to_email
            - definition.data.message.shorten_links
            - definition.data.message.smart_sending_enabled
            - definition.data.message.sms_quiet_hours_enabled
            - definition.data.message.sound
            - definition.data.message.subject_line
            - definition.data.message.template_id
            - definition.data.message.title
            - definition.data.message.to_emails
            - definition.data.message.transactional
            - definition.data.message.url
            - definition.data.message.vendor_id
            - definition.data.message.video_asset_id
            - definition.data.name
            - definition.data.on_execution
            - definition.data.profile_filter
            - definition.data.profile_filter.condition_groups
            - definition.data.profile_operations
            - definition.data.secondary_value
            - definition.data.service_configuration
            - definition.data.service_configuration.event_key
            - definition.data.service_configuration.event_payload
            - definition.data.service_configuration.report_id
            - definition.data.service_configuration.service_method_type
            - definition.data.service_configuration.tracking_company_id
            - definition.data.status
            - definition.data.target_days
            - definition.data.target_time
            - definition.data.timezone
            - definition.data.trigger_filter
            - definition.data.trigger_filter.condition_groups
            - definition.data.trigger_id
            - definition.data.trigger_subtype
            - definition.data.trigger_type
            - definition.data.unit
            - definition.data.value
            - definition.id
            - definition.links
            - definition.links.next
            - definition.links.next_if_false
            - definition.links.next_if_true
            - definition.temporary_id
            - definition.type
            - updated
        explode: false
      - name: fields[flow]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - created
            - name
            - status
            - trigger_type
            - updated
        explode: false
      - name: fields[tag]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`name`: `contains`, `ends-with`, `equals`, `starts-with`<br>`status`: `equals`<br>`archived`: `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`trigger_type`: `equals`'
        schema:
          type: string
          example: any(id,['example'])
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - flow-actions
            - tags
        explode: false
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 50. Min: 1. Max: 50.'
        required: false
        schema:
          type: integer
          default: 50
          maximum: 50
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
          - id
          - -id
          - name
          - -name
          - status
          - -status
          - trigger_type
          - -trigger_type
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowResponseCollectionCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
    post:
      operationId: create_flow
      summary: Create Flow
      description: 'Create a new flow using an encoded flow definition.


        New objects within the flow definition, such as actions, will need to use a

        `temporary_id` field for identification. These will be replaced with traditional `id` fields

        after successful creation.


        A successful request will return the new definition to you.


        *Rate limits*:

        Burst: `1/s`

        Steady: `15/m`

        Daily: `100/d`


        **Scopes:**

        `flows:write`'
      parameters:
      - name: additional-fields[flow]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''definition'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        description: Creates a Flow from parameters
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FlowCreateQuery'
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PostFlowV2Response'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 1/s
        steady: 15/m
        daily: 100/d
      x-klaviyo-scopes:
      - flows:write
  /api/flows/{id}:
    get:
      operationId: get_flow
      summary: Get Flow
      description: 'Get a flow with the given flow ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: additional-fields[flow]
        in: query
        description: 'Request additional fields not included by default in the response. Supported values: ''definition'''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
        explode: false
      - name: fields[flow-action]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.data
            - definition.data.action_output_filter
            - definition.data.action_output_filter.condition_groups
            - definition.data.branches
            - definition.data.current_experiment
            - definition.data.current_experiment.allocations
            - definition.data.current_experiment.automatic_winner_selection_settings
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty
            - definition.data.current_experiment.automatic_winner_selection_settings.enabled
            - definition.data.current_experiment.id
            - definition.data.current_experiment.name
            - definition.data.current_experiment.started
            - definition.data.current_experiment.variations
            - definition.data.current_experiment.winner_metric
            - definition.data.delay_until_time
            - definition.data.delay_until_weekdays
            - definition.data.experiment_status
            - definition.data.list_id
            - definition.data.main_action
            - definition.data.main_action.data
            - definition.data.main_action.data.message
            - definition.data.main_action.data.message.action_buttons
            - definition.data.main_action.data.message.add_info_link
            - definition.data.main_action.data.message.add_opt_out_language
            - definition.data.main_action.data.message.add_org_prefix
            - definition.data.main_action.data.message.add_tracking_params
            - definition.data.main_action.data.message.additional_filters
            - definition.data.main_action.data.message.additional_filters.condition_groups
            - definition.data.main_action.data.message.android_link
            - definition.data.main_action.data.message.badge
            - definition.data.main_action.data.message.badge_options
            - definition.data.main_action.data.message.badge_options.badge_config
            - definition.data.main_action.data.message.badge_options.set_from_property
            - definition.data.main_action.data.message.badge_options.value
            - definition.data.main_action.data.message.bcc_email
            - definition.data.main_action.data.message.body
            - definition.data.main_action.data.message.cc_email
            - definition.data.main_action.data.message.conversion_metric_id
            - definition.data.main_action.data.message.custom_tracking_params
            - definition.data.main_action.data.message.dynamic_image
            - definition.data.main_action.data.message.from_email
            - definition.data.main_action.data.message.from_label
            - definition.data.main_action.data.message.id
            - definition.data.main_action.data.message.image_id
            - definition.data.main_action.data.message.include_contact_card
            - definition.data.main_action.data.message.ios_link
            - definition.data.main_action.data.message.kv_pairs
            - definition.data.main_action.data.message.name
            - definition.data.main_action.data.message.on_open
            - definition.data.main_action.data.message.preview_text
            - definition.data.main_action.data.message.push_type
            - definition.data.main_action.data.message.reply_to_email
            - definition.data.main_action.data.message.shorten_links
            - definition.data.main_action.data.message.smart_sending_enabled
            - definition.data.main_action.data.message.sms_quiet_hours_enabled
            - definition.data.main_action.data.message.sound
            - definition.data.main_action.data.message.subject_line
            - definition.data.main_action.data.message.template_id
            - definition.data.main_action.data.message.title
            - definition.data.main_action.data.message.transactional
            - definition.data.main_action.data.message.video_asset_id
            - definition.data.main_action.data.status
            - definition.data.main_action.id
            - definition.data.main_action.links
            - definition.data.main_action.links.next
            - definition.data.main_action.temporary_id
            - definition.data.main_action.type
            - definition.data.message
            - definition.data.message.action_buttons
            - definition.data.message.add_info_link
            - definition.data.message.add_opt_out_language
            - definition.data.message.add_org_prefix
            - definition.data.message.add_tracking_params
            - definition.data.message.additional_filters
            - definition.data.message.additional_filters.condition_groups
            - definition.data.message.android_link
            - definition.data.message.badge
            - definition.data.message.badge_options
            - definition.data.message.badge_options.badge_config
            - definition.data.message.badge_options.set_from_property
            - definition.data.message.badge_options.value
            - definition.data.message.bcc_email
            - definition.data.message.body
            - definition.data.message.cc_email
            - definition.data.message.conversion_metric_id
            - definition.data.message.custom_tracking_params
            - definition.data.message.dynamic_image
            - definition.data.message.from_email
            - definition.data.message.from_label
            - definition.data.message.headers
            - definition.data.message.id
            - definition.data.message.image_id
            - definition.data.message.include_contact_card
            - definition.data.message.ios_link
            - definition.data.message.kv_pairs
            - definition.data.message.name
            - definition.data.message.on_open
            - definition.data.message.preview_text
            - definition.data.message.push_type
            - definition.data.message.reply_to_email
            - definition.data.message.shorten_links
            - definition.data.message.smart_sending_enabled
            - definition.data.message.sms_quiet_hours_enabled
            - definition.data.message.sound
            - definition.data.message.subject_line
            - definition.data.message.template_id
            - definition.data.message.title
            - definition.data.message.to_emails
            - definition.data.message.transactional
            - definition.data.message.url
            - definition.data.message.vendor_id
            - definition.data.message.video_asset_id
            - definition.data.name
            - definition.data.on_execution
            - definition.data.profile_filter
            - definition.data.profile_filter.condition_groups
            - definition.data.profile_operations
            - definition.data.secondary_value
            - definition.data.service_configuration
            - definition.data.service_configuration.event_key
            - definition.data.service_configuration.event_payload
            - definition.data.service_configuration.report_id
            - definition.data.service_configuration.service_method_type
            - definition.data.service_configuration.tracking_company_id
            - definition.data.status
            - definition.data.target_days
            - definition.data.target_time
            - definition.data.timezone
            - definition.data.trigger_filter
            - definition.data.trigger_filter.condition_groups
            - definition.data.trigger_id
            - definition.data.trigger_subtype
            - definition.data.trigger_type
            - definition.data.unit
            - definition.data.value
            - definition.id
            - definition.links
            - definition.links.next
            - definition.links.next_if_false
            - definition.links.next_if_true
            - definition.temporary_id
            - definition.type
            - updated
        explode: false
      - name: fields[flow]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - created
            - definition
            - definition.actions
            - definition.entry_action_id
            - definition.profile_filter
            - definition.profile_filter.condition_groups
            - definition.reentry_criteria
            - definition.reentry_criteria.duration
            - definition.reentry_criteria.unit
            - definition.triggers
            - name
            - status
            - trigger_type
            - updated
        explode: false
      - name: fields[tag]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
        explode: false
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - flow-actions
            - tags
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowV2ResponseCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
    patch:
      operationId: update_flow
      summary: Update Flow Status
      description: 'Update the status of a flow with the given flow ID, and all actions in that flow.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:write`'
      parameters:
      - name: id
        in: path
        description: 'ID of the Flow to update. Ex: XVTP5Q'
        required: true
        schema:
          description: 'ID of the Flow to update. Ex: XVTP5Q'
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FlowUpdateQuery'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PatchFlowResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:write
    delete:
      operationId: delete_flow
      summary: Delete Flow
      description: 'Delete a flow with the given flow ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:write`'
      parameters:
      - name: id
        in: path
        description: 'ID of the Flow to delete. Ex: XVTP5Q'
        required: true
        schema:
          description: 'ID of the Flow to delete. Ex: XVTP5Q'
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:write
  /api/flow-actions/{id}:
    get:
      operationId: get_flow_action
      summary: Get Flow Action
      description: 'Get a flow action from a flow with the given flow action ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[flow-action]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.data
            - definition.data.action_output_filter
            - definition.data.action_output_filter.condition_groups
            - definition.data.branches
            - definition.data.current_experiment
            - definition.data.current_experiment.allocations
            - definition.data.current_experiment.automatic_winner_selection_settings
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty
            - definition.data.current_experiment.automatic_winner_selection_settings.enabled
            - definition.data.current_experiment.id
            - definition.data.current_experiment.name
            - definition.data.current_experiment.started
            - definition.data.current_experiment.variations
            - definition.data.current_experiment.winner_metric
            - definition.data.delay_until_time
            - definition.data.delay_until_weekdays
            - definition.data.experiment_status
            - definition.data.list_id
            - definition.data.main_action
            - definition.data.main_action.data
            - definition.data.main_action.data.message
            - definition.data.main_action.data.message.action_buttons
            - definition.data.main_action.data.message.add_info_link
            - definition.data.main_action.data.message.add_opt_out_language
            - definition.data.main_action.data.message.add_org_prefix
            - definition.data.main_action.data.message.add_tracking_params
            - definition.data.main_action.data.message.additional_filters
            - definition.data.main_action.data.message.additional_filters.condition_groups
            - definition.data.main_action.data.message.android_link
            - definition.data.main_action.data.message.badge
            - definition.data.main_action.data.message.badge_options
            - definition.data.main_action.data.message.badge_options.badge_config
            - definition.data.main_action.data.message.badge_options.set_from_property
            - definition.data.main_action.data.message.badge_options.value
            - definition.data.main_action.data.message.bcc_email
            - definition.data.main_action.data.message.body
            - definition.data.main_action.data.message.cc_email
            - definition.data.main_action.data.message.conversion_metric_id
            - definition.data.main_action.data.message.custom_tracking_params
            - definition.data.main_action.data.message.dynamic_image
            - definition.data.main_action.data.message.from_email
            - definition.data.main_action.data.message.from_label
            - definition.data.main_action.data.message.id
            - definition.data.main_action.data.message.image_id
            - definition.data.main_action.data.message.include_contact_card
            - definition.data.main_action.data.message.ios_link
            - definition.data.main_action.data.message.kv_pairs
            - definition.data.main_action.data.message.name
            - definition.data.main_action.data.message.on_open
            - definition.data.main_action.data.message.preview_text
            - definition.data.main_action.data.message.push_type
            - definition.data.main_action.data.message.reply_to_email
            - definition.data.main_action.data.message.shorten_links
            - definition.data.main_action.data.message.smart_sending_enabled
            - definition.data.main_action.data.message.sms_quiet_hours_enabled
            - definition.data.main_action.data.message.sound
            - definition.data.main_action.data.message.subject_line
            - definition.data.main_action.data.message.template_id
            - definition.data.main_action.data.message.title
            - definition.data.main_action.data.message.transactional
            - definition.data.main_action.data.message.video_asset_id
            - definition.data.main_action.data.status
            - definition.data.main_action.id
            - definition.data.main_action.links
            - definition.data.main_action.links.next
            - definition.data.main_action.temporary_id
            - definition.data.main_action.type
            - definition.data.message
            - definition.data.message.action_buttons
            - definition.data.message.add_info_link
            - definition.data.message.add_opt_out_language
            - definition.data.message.add_org_prefix
            - definition.data.message.add_tracking_params
            - definition.data.message.additional_filters
            - definition.data.message.additional_filters.condition_groups
            - definition.data.message.android_link
            - definition.data.message.badge
            - definition.data.message.badge_options
            - definition.data.message.badge_options.badge_config
            - definition.data.message.badge_options.set_from_property
            - definition.data.message.badge_options.value
            - definition.data.message.bcc_email
            - definition.data.message.body
            - definition.data.message.cc_email
            - definition.data.message.conversion_metric_id
            - definition.data.message.custom_tracking_params
            - definition.data.message.dynamic_image
            - definition.data.message.from_email
            - definition.data.message.from_label
            - definition.data.message.headers
            - definition.data.message.id
            - definition.data.message.image_id
            - definition.data.message.include_contact_card
            - definition.data.message.ios_link
            - definition.data.message.kv_pairs
            - definition.data.message.name
            - definition.data.message.on_open
            - definition.data.message.preview_text
            - definition.data.message.push_type
            - definition.data.message.reply_to_email
            - definition.data.message.shorten_links
            - definition.data.message.smart_sending_enabled
            - definition.data.message.sms_quiet_hours_enabled
            - definition.data.message.sound
            - definition.data.message.subject_line
            - definition.data.message.template_id
            - definition.data.message.title
            - definition.data.message.to_emails
            - definition.data.message.transactional
            - definition.data.message.url
            - definition.data.message.vendor_id
            - definition.data.message.video_asset_id
            - definition.data.name
            - definition.data.on_execution
            - definition.data.profile_filter
            - definition.data.profile_filter.condition_groups
            - definition.data.profile_operations
            - definition.data.secondary_value
            - definition.data.service_configuration
            - definition.data.service_configuration.event_key
            - definition.data.service_configuration.event_payload
            - definition.data.service_configuration.report_id
            - definition.data.service_configuration.service_method_type
            - definition.data.service_configuration.tracking_company_id
            - definition.data.status
            - definition.data.target_days
            - definition.data.target_time
            - definition.data.timezone
            - definition.data.trigger_filter
            - definition.data.trigger_filter.condition_groups
            - definition.data.trigger_id
            - definition.data.trigger_subtype
            - definition.data.trigger_type
            - definition.data.unit
            - definition.data.value
            - definition.id
            - definition.links
            - definition.links.next
            - definition.links.next_if_false
            - definition.links.next_if_true
            - definition.temporary_id
            - definition.type
            - updated
        explode: false
      - name: fields[flow-message]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - channel
            - created
            - definition
            - definition.action_buttons
            - definition.add_info_link
            - definition.add_opt_out_language
            - definition.add_org_prefix
            - definition.add_tracking_params
            - definition.additional_filters
            - definition.additional_filters.condition_groups
            - definition.android_link
            - definition.badge
            - definition.badge_options
            - definition.badge_options.badge_config
            - definition.badge_options.set_from_property
            - definition.badge_options.value
            - definition.bcc_email
            - definition.body
            - definition.cc_email
            - definition.conversion_metric_id
            - definition.custom_tracking_params
            - definition.dynamic_image
            - definition.from_email
            - definition.from_label
            - definition.headers
            - definition.id
            - definition.image_id
            - definition.include_contact_card
            - definition.ios_link
            - definition.kv_pairs
            - definition.name
            - definition.on_open
            - definition.preview_text
            - definition.push_type
            - definition.reply_to_email
            - definition.shorten_links
            - definition.smart_sending_enabled
            - definition.sms_quiet_hours_enabled
            - definition.sound
            - definition.subject_line
            - definition.template_id
            - definition.title
            - definition.to_emails
            - definition.transactional
            - definition.url
            - definition.vendor_id
            - definition.video_asset_id
            - updated
        explode: false
      - name: fields[flow]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - created
            - name
            - status
            - trigger_type
            - updated
        explode: false
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - flow
            - flow-messages
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowActionEncodedResponseCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
    patch:
      operationId: update_flow_action
      summary: Update Flow Action
      description: 'Update a flow action.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:write`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FlowActionUpdateQuery'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PatchFlowActionEncodedResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:write
  /api/flow-messages/{id}:
    get:
      operationId: get_flow_message
      summary: Get Flow Message
      description: 'Get a flow message from a flow with the given flow message ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[flow-action]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.data
            - definition.data.action_output_filter
            - definition.data.action_output_filter.condition_groups
            - definition.data.branches
            - definition.data.current_experiment
            - definition.data.current_experiment.allocations
            - definition.data.current_experiment.automatic_winner_selection_settings
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty
            - definition.data.current_experiment.automatic_winner_selection_settings.enabled
            - definition.data.current_experiment.id
            - definition.data.current_experiment.name
            - definition.data.current_experiment.started
            - definition.data.current_experiment.variations
            - definition.data.current_experiment.winner_metric
            - definition.data.delay_until_time
            - definition.data.delay_until_weekdays
            - definition.data.experiment_status
            - definition.data.list_id
            - definition.data.main_action
            - definition.data.main_action.data
            - definition.data.main_action.data.message
            - definition.data.main_action.data.message.action_buttons
            - definition.data.main_action.data.message.add_info_link
            - definition.data.main_action.data.message.add_opt_out_language
            - definition.data.main_action.data.message.add_org_prefix
            - definition.data.main_action.data.message.add_tracking_params
            - definition.data.main_action.data.message.additional_filters
            - definition.data.main_action.data.message.additional_filters.condition_groups
            - definition.data.main_action.data.message.android_link
            - definition.data.main_action.data.message.badge
            - definition.data.main_action.data.message.badge_options
            - definition.data.main_action.data.message.badge_options.badge_config
            - definition.data.main_action.data.message.badge_options.set_from_property
            - definition.data.main_action.data.message.badge_options.value
            - definition.data.main_action.data.message.bcc_email
            - definition.data.main_action.data.message.body
            - definition.data.main_action.data.message.cc_email
            - definition.data.main_action.data.message.conversion_metric_id
            - definition.data.main_action.data.message.custom_tracking_params
            - definition.data.main_action.data.message.dynamic_image
            - definition.data.main_action.data.message.from_email
            - definition.data.main_action.data.message.from_label
            - definition.data.main_action.data.message.id
            - definition.data.main_action.data.message.image_id
            - definition.data.main_action.data.message.include_contact_card
            - definition.data.main_action.data.message.ios_link
            - definition.data.main_action.data.message.kv_pairs
            - definition.data.main_action.data.message.name
            - definition.data.main_action.data.message.on_open
            - definition.data.main_action.data.message.preview_text
            - definition.data.main_action.data.message.push_type
            - definition.data.main_action.data.message.reply_to_email
            - definition.data.main_action.data.message.shorten_links
            - definition.data.main_action.data.message.smart_sending_enabled
            - definition.data.main_action.data.message.sms_quiet_hours_enabled
            - definition.data.main_action.data.message.sound
            - definition.data.main_action.data.message.subject_line
            - definition.data.main_action.data.message.template_id
            - definition.data.main_action.data.message.title
            - definition.data.main_action.data.message.transactional
            - definition.data.main_action.data.message.video_asset_id
            - definition.data.main_action.data.status
            - definition.data.main_action.id
            - definition.data.main_action.links
            - definition.data.main_action.links.next
            - definition.data.main_action.temporary_id
            - definition.data.main_action.type
            - definition.data.message
            - definition.data.message.action_buttons
            - definition.data.message.add_info_link
            - definition.data.message.add_opt_out_language
            - definition.data.message.add_org_prefix
            - definition.data.message.add_tracking_params
            - definition.data.message.additional_filters
            - definition.data.message.additional_filters.condition_groups
            - definition.data.message.android_link
            - definition.data.message.badge
            - definition.data.message.badge_options
            - definition.data.message.badge_options.badge_config
            - definition.data.message.badge_options.set_from_property
            - definition.data.message.badge_options.value
            - definition.data.message.bcc_email
            - definition.data.message.body
            - definition.data.message.cc_email
            - definition.data.message.conversion_metric_id
            - definition.data.message.custom_tracking_params
            - definition.data.message.dynamic_image
            - definition.data.message.from_email
            - definition.data.message.from_label
            - definition.data.message.headers
            - definition.data.message.id
            - definition.data.message.image_id
            - definition.data.message.include_contact_card
            - definition.data.message.ios_link
            - definition.data.message.kv_pairs
            - definition.data.message.name
            - definition.data.message.on_open
            - definition.data.message.preview_text
            - definition.data.message.push_type
            - definition.data.message.reply_to_email
            - definition.data.message.shorten_links
            - definition.data.message.smart_sending_enabled
            - definition.data.message.sms_quiet_hours_enabled
            - definition.data.message.sound
            - definition.data.message.subject_line
            - definition.data.message.template_id
            - definition.data.message.title
            - definition.data.message.to_emails
            - definition.data.message.transactional
            - definition.data.message.url
            - definition.data.message.vendor_id
            - definition.data.message.video_asset_id
            - definition.data.name
            - definition.data.on_execution
            - definition.data.profile_filter
            - definition.data.profile_filter.condition_groups
            - definition.data.profile_operations
            - definition.data.secondary_value
            - definition.data.service_configuration
            - definition.data.service_configuration.event_key
            - definition.data.service_configuration.event_payload
            - definition.data.service_configuration.report_id
            - definition.data.service_configuration.service_method_type
            - definition.data.service_configuration.tracking_company_id
            - definition.data.status
            - definition.data.target_days
            - definition.data.target_time
            - definition.data.timezone
            - definition.data.trigger_filter
            - definition.data.trigger_filter.condition_groups
            - definition.data.trigger_id
            - definition.data.trigger_subtype
            - definition.data.trigger_type
            - definition.data.unit
            - definition.data.value
            - definition.id
            - definition.links
            - definition.links.next
            - definition.links.next_if_false
            - definition.links.next_if_true
            - definition.temporary_id
            - definition.type
            - updated
        explode: false
      - name: fields[flow-message]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - channel
            - created
            - definition
            - definition.action_buttons
            - definition.add_info_link
            - definition.add_opt_out_language
            - definition.add_org_prefix
            - definition.add_tracking_params
            - definition.additional_filters
            - definition.additional_filters.condition_groups
            - definition.android_link
            - definition.badge
            - definition.badge_options
            - definition.badge_options.badge_config
            - definition.badge_options.set_from_property
            - definition.badge_options.value
            - definition.bcc_email
            - definition.body
            - definition.cc_email
            - definition.conversion_metric_id
            - definition.custom_tracking_params
            - definition.dynamic_image
            - definition.from_email
            - definition.from_label
            - definition.headers
            - definition.id
            - definition.image_id
            - definition.include_contact_card
            - definition.ios_link
            - definition.kv_pairs
            - definition.name
            - definition.on_open
            - definition.preview_text
            - definition.push_type
            - definition.reply_to_email
            - definition.shorten_links
            - definition.smart_sending_enabled
            - definition.sms_quiet_hours_enabled
            - definition.sound
            - definition.subject_line
            - definition.template_id
            - definition.title
            - definition.to_emails
            - definition.transactional
            - definition.url
            - definition.vendor_id
            - definition.video_asset_id
            - updated
        explode: false
      - name: fields[template]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - amp
            - created
            - editor_type
            - html
            - name
            - text
            - updated
        explode: false
      - name: include
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships
        schema:
          type: array
          items:
            type: string
            enum:
            - flow-action
            - template
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowMessageEncodedResponseCompoundDocument'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flows/{id}/flow-actions:
    get:
      operationId: get_actions_for_flow
      summary: Get Actions for Flow
      description: 'Get all flow actions associated with the given flow ID.


        Returns a maximum of 50 flows per request, which can be paginated with cursor-based pagination.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[flow-action]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.data
            - definition.data.action_output_filter
            - definition.data.action_output_filter.condition_groups
            - definition.data.branches
            - definition.data.current_experiment
            - definition.data.current_experiment.allocations
            - definition.data.current_experiment.automatic_winner_selection_settings
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty
            - definition.data.current_experiment.automatic_winner_selection_settings.enabled
            - definition.data.current_experiment.id
            - definition.data.current_experiment.name
            - definition.data.current_experiment.started
            - definition.data.current_experiment.variations
            - definition.data.current_experiment.winner_metric
            - definition.data.delay_until_time
            - definition.data.delay_until_weekdays
            - definition.data.experiment_status
            - definition.data.list_id
            - definition.data.main_action
            - definition.data.main_action.data
            - definition.data.main_action.data.message
            - definition.data.main_action.data.message.action_buttons
            - definition.data.main_action.data.message.add_info_link
            - definition.data.main_action.data.message.add_opt_out_language
            - definition.data.main_action.data.message.add_org_prefix
            - definition.data.main_action.data.message.add_tracking_params
            - definition.data.main_action.data.message.additional_filters
            - definition.data.main_action.data.message.additional_filters.condition_groups
            - definition.data.main_action.data.message.android_link
            - definition.data.main_action.data.message.badge
            - definition.data.main_action.data.message.badge_options
            - definition.data.main_action.data.message.badge_options.badge_config
            - definition.data.main_action.data.message.badge_options.set_from_property
            - definition.data.main_action.data.message.badge_options.value
            - definition.data.main_action.data.message.bcc_email
            - definition.data.main_action.data.message.body
            - definition.data.main_action.data.message.cc_email
            - definition.data.main_action.data.message.conversion_metric_id
            - definition.data.main_action.data.message.custom_tracking_params
            - definition.data.main_action.data.message.dynamic_image
            - definition.data.main_action.data.message.from_email
            - definition.data.main_action.data.message.from_label
            - definition.data.main_action.data.message.id
            - definition.data.main_action.data.message.image_id
            - definition.data.main_action.data.message.include_contact_card
            - definition.data.main_action.data.message.ios_link
            - definition.data.main_action.data.message.kv_pairs
            - definition.data.main_action.data.message.name
            - definition.data.main_action.data.message.on_open
            - definition.data.main_action.data.message.preview_text
            - definition.data.main_action.data.message.push_type
            - definition.data.main_action.data.message.reply_to_email
            - definition.data.main_action.data.message.shorten_links
            - definition.data.main_action.data.message.smart_sending_enabled
            - definition.data.main_action.data.message.sms_quiet_hours_enabled
            - definition.data.main_action.data.message.sound
            - definition.data.main_action.data.message.subject_line
            - definition.data.main_action.data.message.template_id
            - definition.data.main_action.data.message.title
            - definition.data.main_action.data.message.transactional
            - definition.data.main_action.data.message.video_asset_id
            - definition.data.main_action.data.status
            - definition.data.main_action.id
            - definition.data.main_action.links
            - definition.data.main_action.links.next
            - definition.data.main_action.temporary_id
            - definition.data.main_action.type
            - definition.data.message
            - definition.data.message.action_buttons
            - definition.data.message.add_info_link
            - definition.data.message.add_opt_out_language
            - definition.data.message.add_org_prefix
            - definition.data.message.add_tracking_params
            - definition.data.message.additional_filters
            - definition.data.message.additional_filters.condition_groups
            - definition.data.message.android_link
            - definition.data.message.badge
            - definition.data.message.badge_options
            - definition.data.message.badge_options.badge_config
            - definition.data.message.badge_options.set_from_property
            - definition.data.message.badge_options.value
            - definition.data.message.bcc_email
            - definition.data.message.body
            - definition.data.message.cc_email
            - definition.data.message.conversion_metric_id
            - definition.data.message.custom_tracking_params
            - definition.data.message.dynamic_image
            - definition.data.message.from_email
            - definition.data.message.from_label
            - definition.data.message.headers
            - definition.data.message.id
            - definition.data.message.image_id
            - definition.data.message.include_contact_card
            - definition.data.message.ios_link
            - definition.data.message.kv_pairs
            - definition.data.message.name
            - definition.data.message.on_open
            - definition.data.message.preview_text
            - definition.data.message.push_type
            - definition.data.message.reply_to_email
            - definition.data.message.shorten_links
            - definition.data.message.smart_sending_enabled
            - definition.data.message.sms_quiet_hours_enabled
            - definition.data.message.sound
            - definition.data.message.subject_line
            - definition.data.message.template_id
            - definition.data.message.title
            - definition.data.message.to_emails
            - definition.data.message.transactional
            - definition.data.message.url
            - definition.data.message.vendor_id
            - definition.data.message.video_asset_id
            - definition.data.name
            - definition.data.on_execution
            - definition.data.profile_filter
            - definition.data.profile_filter.condition_groups
            - definition.data.profile_operations
            - definition.data.secondary_value
            - definition.data.service_configuration
            - definition.data.service_configuration.event_key
            - definition.data.service_configuration.event_payload
            - definition.data.service_configuration.report_id
            - definition.data.service_configuration.service_method_type
            - definition.data.service_configuration.tracking_company_id
            - definition.data.status
            - definition.data.target_days
            - definition.data.target_time
            - definition.data.timezone
            - definition.data.trigger_filter
            - definition.data.trigger_filter.condition_groups
            - definition.data.trigger_id
            - definition.data.trigger_subtype
            - definition.data.trigger_type
            - definition.data.unit
            - definition.data.value
            - definition.id
            - definition.links
            - definition.links.next
            - definition.links.next_if_false
            - definition.links.next_if_true
            - definition.temporary_id
            - definition.type
            - updated
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`action_type`: `any`, `equals`<br>`status`: `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`'
        schema:
          type: string
          example: any(id,['example'])
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 50. Min: 1. Max: 50.'
        required: false
        schema:
          type: integer
          default: 50
          maximum: 50
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - action_type
          - -action_type
          - created
          - -created
          - id
          - -id
          - status
          - -status
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowActionEncodedResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_flow_actions
      - get_flow_actions
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flows/{id}/relationships/flow-actions:
    get:
      operationId: get_action_ids_for_flow
      summary: Get Action IDs for Flow
      description: 'Get all relationships for flow actions associated with the given flow ID.


        Returns a maximum of 100 flows per request, which can be paginated with cursor-based pagination.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`action_type`: `any`, `equals`<br>`status`: `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`'
        schema:
          type: string
          example: any(id,['example'])
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 50. Min: 1. Max: 50.'
        required: false
        schema:
          type: integer
          default: 50
          maximum: 50
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - action_type
          - -action_type
          - created
          - -created
          - id
          - -id
          - status
          - -status
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowFlowActionRelationshipListResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_relationships_flow_actions
      - get_flow_relationships_actions
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flows/{id}/tags:
    get:
      operationId: get_tags_for_flow
      summary: Get Tags for Flow
      description: 'Return all tags associated with the given flow ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`

        `tags:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[tag]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetTagResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_tags
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
      - tags:read
  /api/flows/{id}/relationships/tags:
    get:
      operationId: get_tag_ids_for_flow
      summary: Get Tag IDs for Flow
      description: 'Return the tag IDs of all tags associated with the given flow.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`

        `tags:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowTagsRelationshipsResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_relationships_tags
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
      - tags:read
  /api/flow-actions/{id}/flow:
    get:
      operationId: get_flow_for_flow_action
      summary: Get Flow for Flow Action
      description: 'Get the flow associated with the given action ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[flow]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - created
            - name
            - status
            - trigger_type
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_action_flow
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flow-actions/{id}/relationships/flow:
    get:
      operationId: get_flow_id_for_flow_action
      summary: Get Flow ID for Flow Action
      description: 'Get the flow associated with the given action ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowActionFlowRelationshipResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_action_relationships_flow
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flow-actions/{id}/flow-messages:
    get:
      operationId: get_flow_action_messages
      summary: Get Messages For Flow Action
      description: 'Get all flow messages associated with the given flow action ID.


        Returns a maximum of 50 flow message relationships per request, which can be paginated with cursor-based pagination.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[flow-message]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - channel
            - created
            - definition
            - definition.action_buttons
            - definition.add_info_link
            - definition.add_opt_out_language
            - definition.add_org_prefix
            - definition.add_tracking_params
            - definition.additional_filters
            - definition.additional_filters.condition_groups
            - definition.android_link
            - definition.badge
            - definition.badge_options
            - definition.badge_options.badge_config
            - definition.badge_options.set_from_property
            - definition.badge_options.value
            - definition.bcc_email
            - definition.body
            - definition.cc_email
            - definition.conversion_metric_id
            - definition.custom_tracking_params
            - definition.dynamic_image
            - definition.from_email
            - definition.from_label
            - definition.headers
            - definition.id
            - definition.image_id
            - definition.include_contact_card
            - definition.ios_link
            - definition.kv_pairs
            - definition.name
            - definition.on_open
            - definition.preview_text
            - definition.push_type
            - definition.reply_to_email
            - definition.shorten_links
            - definition.smart_sending_enabled
            - definition.sms_quiet_hours_enabled
            - definition.sound
            - definition.subject_line
            - definition.template_id
            - definition.title
            - definition.to_emails
            - definition.transactional
            - definition.url
            - definition.vendor_id
            - definition.video_asset_id
            - updated
        explode: false
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`name`: `contains`, `ends-with`, `equals`, `starts-with`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`'
        schema:
          type: string
          example: any(id,['example'])
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 50. Min: 1. Max: 50.'
        required: false
        schema:
          type: integer
          default: 50
          maximum: 50
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
          - id
          - -id
          - name
          - -name
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowMessageEncodedResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_messages_for_flow_action
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flow-actions/{id}/relationships/flow-messages:
    get:
      operationId: get_message_ids_for_flow_action
      summary: Get Message IDs for Flow Action
      description: 'Get all relationships for flow messages associated with the given flow action ID.


        Returns a maximum of 50 flow message relationships per request, which can be paginated with cursor-based pagination.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`name`: `contains`, `ends-with`, `equals`, `starts-with`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`'
        schema:
          type: string
          example: equals(name,'example')
      - name: page[cursor]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        description: 'Default: 50. Min: 1. Max: 50.'
        required: false
        schema:
          type: integer
          default: 50
          maximum: 50
          minimum: 1
      - name: sort
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting
        schema:
          type: string
          enum:
          - created
          - -created
          - id
          - -id
          - name
          - -name
          - updated
          - -updated
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowActionFlowMessageRelationshipResponseCollection'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_action_relationships_messages
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flow-messages/{id}/flow-action:
    get:
      operationId: get_action_for_flow_message
      summary: Get Action for Flow Message
      description: 'Get the flow action for a flow message with the given message ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[flow-action]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - definition
            - definition.data
            - definition.data.action_output_filter
            - definition.data.action_output_filter.condition_groups
            - definition.data.branches
            - definition.data.current_experiment
            - definition.data.current_experiment.allocations
            - definition.data.current_experiment.automatic_winner_selection_settings
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date
            - definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty
            - definition.data.current_experiment.automatic_winner_selection_settings.enabled
            - definition.data.current_experiment.id
            - definition.data.current_experiment.name
            - definition.data.current_experiment.started
            - definition.data.current_experiment.variations
            - definition.data.current_experiment.winner_metric
            - definition.data.delay_until_time
            - definition.data.delay_until_weekdays
            - definition.data.experiment_status
            - definition.data.list_id
            - definition.data.main_action
            - definition.data.main_action.data
            - definition.data.main_action.data.message
            - definition.data.main_action.data.message.action_buttons
            - definition.data.main_action.data.message.add_info_link
            - definition.data.main_action.data.message.add_opt_out_language
            - definition.data.main_action.data.message.add_org_prefix
            - definition.data.main_action.data.message.add_tracking_params
            - definition.data.main_action.data.message.additional_filters
            - definition.data.main_action.data.message.additional_filters.condition_groups
            - definition.data.main_action.data.message.android_link
            - definition.data.main_action.data.message.badge
            - definition.data.main_action.data.message.badge_options
            - definition.data.main_action.data.message.badge_options.badge_config
            - definition.data.main_action.data.message.badge_options.set_from_property
            - definition.data.main_action.data.message.badge_options.value
            - definition.data.main_action.data.message.bcc_email
            - definition.data.main_action.data.message.body
            - definition.data.main_action.data.message.cc_email
            - definition.data.main_action.data.message.conversion_metric_id
            - definition.data.main_action.data.message.custom_tracking_params
            - definition.data.main_action.data.message.dynamic_image
            - definition.data.main_action.data.message.from_email
            - definition.data.main_action.data.message.from_label
            - definition.data.main_action.data.message.id
            - definition.data.main_action.data.message.image_id
            - definition.data.main_action.data.message.include_contact_card
            - definition.data.main_action.data.message.ios_link
            - definition.data.main_action.data.message.kv_pairs
            - definition.data.main_action.data.message.name
            - definition.data.main_action.data.message.on_open
            - definition.data.main_action.data.message.preview_text
            - definition.data.main_action.data.message.push_type
            - definition.data.main_action.data.message.reply_to_email
            - definition.data.main_action.data.message.shorten_links
            - definition.data.main_action.data.message.smart_sending_enabled
            - definition.data.main_action.data.message.sms_quiet_hours_enabled
            - definition.data.main_action.data.message.sound
            - definition.data.main_action.data.message.subject_line
            - definition.data.main_action.data.message.template_id
            - definition.data.main_action.data.message.title
            - definition.data.main_action.data.message.transactional
            - definition.data.main_action.data.message.video_asset_id
            - definition.data.main_action.data.status
            - definition.data.main_action.id
            - definition.data.main_action.links
            - definition.data.main_action.links.next
            - definition.data.main_action.temporary_id
            - definition.data.main_action.type
            - definition.data.message
            - definition.data.message.action_buttons
            - definition.data.message.add_info_link
            - definition.data.message.add_opt_out_language
            - definition.data.message.add_org_prefix
            - definition.data.message.add_tracking_params
            - definition.data.message.additional_filters
            - definition.data.message.additional_filters.condition_groups
            - definition.data.message.android_link
            - definition.data.message.badge
            - definition.data.message.badge_options
            - definition.data.message.badge_options.badge_config
            - definition.data.message.badge_options.set_from_property
            - definition.data.message.badge_options.value
            - definition.data.message.bcc_email
            - definition.data.message.body
            - definition.data.message.cc_email
            - definition.data.message.conversion_metric_id
            - definition.data.message.custom_tracking_params
            - definition.data.message.dynamic_image
            - definition.data.message.from_email
            - definition.data.message.from_label
            - definition.data.message.headers
            - definition.data.message.id
            - definition.data.message.image_id
            - definition.data.message.include_contact_card
            - definition.data.message.ios_link
            - definition.data.message.kv_pairs
            - definition.data.message.name
            - definition.data.message.on_open
            - definition.data.message.preview_text
            - definition.data.message.push_type
            - definition.data.message.reply_to_email
            - definition.data.message.shorten_links
            - definition.data.message.smart_sending_enabled
            - definition.data.message.sms_quiet_hours_enabled
            - definition.data.message.sound
            - definition.data.message.subject_line
            - definition.data.message.template_id
            - definition.data.message.title
            - definition.data.message.to_emails
            - definition.data.message.transactional
            - definition.data.message.url
            - definition.data.message.vendor_id
            - definition.data.message.video_asset_id
            - definition.data.name
            - definition.data.on_execution
            - definition.data.profile_filter
            - definition.data.profile_filter.condition_groups
            - definition.data.profile_operations
            - definition.data.secondary_value
            - definition.data.service_configuration
            - definition.data.service_configuration.event_key
            - definition.data.service_configuration.event_payload
            - definition.data.service_configuration.report_id
            - definition.data.service_configuration.service_method_type
            - definition.data.service_configuration.tracking_company_id
            - definition.data.status
            - definition.data.target_days
            - definition.data.target_time
            - definition.data.timezone
            - definition.data.trigger_filter
            - definition.data.trigger_filter.condition_groups
            - definition.data.trigger_id
            - definition.data.trigger_subtype
            - definition.data.trigger_type
            - definition.data.unit
            - definition.data.value
            - definition.id
            - definition.links
            - definition.links.next
            - definition.links.next_if_false
            - definition.links.next_if_true
            - definition.temporary_id
            - definition.type
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowActionEncodedResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_message_action
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flow-messages/{id}/relationships/flow-action:
    get:
      operationId: get_action_id_for_flow_message
      summary: Get Action ID for Flow Message
      description: 'Get the relationship for a flow message''s flow action, given the flow ID.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `flows:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowMessageActionRelationshipResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_message_relationships_action
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - flows:read
  /api/flow-messages/{id}/template:
    get:
      operationId: get_template_for_flow_message
      summary: Get Template for Flow Message
      description: 'Return the related template


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields[template]
        in: query
        description: For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - amp
            - created
            - editor_type
            - html
            - name
            - text
            - updated
        explode: false
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_message_template
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - templates:read
  /api/flow-messages/{id}/relationships/template:
    get:
      operationId: get_template_id_for_flow_message
      summary: Get Template ID for Flow Message
      description: 'Returns the ID of the related template


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `templates:read`'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetFlowMessageTemplateRelationshipResponse'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Flows
      x-klaviyo-operation-aliases:
      - get_flow_message_relationships_template
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - templates:read
components:
  schemas:
    ImplicitlyReachable:
      type: object
      properties:
        reachable_status:
          type: string
          enum:
          - implicitly_reachable
      required:
      - reachable_status
    ExplicitlyUnreachable:
      type: object
      properties:
        reachable_status:
          type: string
          enum:
          - explicitly_unreachable
        filters:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/EffectiveDateFilter'
            - $ref: '#/components/schemas/RecordedDateFilter'
            - $ref: '#/components/schemas/MethodFilter'
            - $ref: '#/components/schemas/FormSubscribeFilter'
      required:
      - reachable_status
      - filters
    GetFlowMessageEncodedResponseCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FlowMessageEncodedResponseObjectResource'
        links:
          $ref: '#/components/schemas/CollectionLinks'
      required:
      - data
    GetFlowActionEncodedResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FlowActionEncodedResponseObjectResource'
        links:
          $ref: '#/components/schemas/ObjectLinks'
      required:
      - data
    NoEmailMarketingConsent:
      type: object
      properties:
        channel:
          type: string
          enum:
          - email
        can_receive_marketing:
          type: boolean
          enum:
          - false
        consent_status:
          oneOf:
          - $ref: '#/components/schemas/NoEmailMarketing'
          - $ref: '#/components/schemas/NoEmailMarketingUnsubscribed'
          - $ref: '#/components/schemas/NoEmailMarketingNeverSubscribed'
          - $ref: '#/components/schemas/NoEmailMarketingSubscribed'
      required:
      - channel
      - can_receive_marketing
      - consent_status
    TemplateEnum:
      type: string
      enum:
      - template
    ManualImportMethodFilter:
      type: object
      properties:
        field:
          type: string
          enum:
          - method
        method:
          type: string
          enum:
          - manual_import
      required:
      - field
      - method
    ManualAddManualMethodFilter:
      type: object
      properties:
        field:
          type: string
          enum:
          - method
        method:
          type: string
          enum:
[...]
