openapi: 3.2.0
info:
  title: Klaviyo Data Privacy API
  version: '2026-04-15'
  description: The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.
  contact:
    name: Klaviyo Developer Experience Team
    email: developers@klaviyo.com
    url: https://developers.klaviyo.com
  termsOfService: https://www.klaviyo.com/legal/api-terms
  license:
    name: License
    url: https://www.klaviyo.com/legal
servers:
- url: https://a.klaviyo.com
  description: Production
security:
- Klaviyo-API-Key: []
tags:
- name: Data Privacy
  description: data privacy
paths:
  /api/data-privacy-deletion-jobs:
    post:
      operationId: request_profile_deletion
      summary: Request Profile Deletion
      description: 'Request a deletion for the profiles corresponding to one of the following identifiers: `email`, `phone_number`, or `id`. If multiple identifiers are provided, we will return an error.


        All profiles that match the provided identifier will be deleted.


        The deletion occurs asynchronously; however, once it has completed, the deleted profile will appear on the Deleted Profiles page.


        For more information on the deletion process, please refer to our Help Center docs on how to handle GDPR and CCPA deletion requests.


        *Rate limits*:

        Burst: `3/s`

        Steady: `60/m`


        **Scopes:**

        `data-privacy:write`'
      parameters:
      - name: revision
        in: header
        description: 'API endpoint revision (format: YYYY-MM-DD[.suffix])'
        required: true
        schema:
          type: string
          default: '2026-04-15'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DataPrivacyCreateDeletionJobQuery'
      responses:
        '202':
          description: Success
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      tags:
      - Data Privacy
      x-klaviyo-operation-aliases:
      - create_data_privacy_deletion_job
      x-klaviyo-pre-release: None
      x-klaviyo-ratelimit:
        burst: 3/s
        steady: 60/m
      x-klaviyo-scopes:
      - data-privacy:write
components:
  schemas:
    DataPrivacyCreateDeletionJobQueryResourceObject:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DataPrivacyDeletionJobEnum'
        attributes:
          type: object
          properties:
            profile:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/DataPrivacyProfileQueryResourceObject'
              required:
              - data
          required:
          - profile
      required:
      - type
      - attributes
    DataPrivacyProfileQueryResourceObject:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ProfileEnum'
        id:
          description: Primary key that uniquely identifies this profile. Generated by Klaviyo.
          type:
          - string
          - 'null'
          example: 01GDDKASAP8TKDDA2GRZDSVP4H
        attributes:
          type: object
          properties:
            email:
              description: Individual's email address
              type:
              - string
              - 'null'
              example: sarah.mason@klaviyo-demo.com
            phone_number:
              description: Individual's phone number in E.164 format
              type:
              - string
              - 'null'
              example: '+15005550006'
      required:
      - type
      - attributes
    ProfileEnum:
      type: string
      enum:
      - profile
    DataPrivacyCreateDeletionJobQuery:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataPrivacyCreateDeletionJobQueryResourceObject'
      required:
      - data
    DataPrivacyDeletionJobEnum:
      type: string
      enum:
      - data-privacy-deletion-job
  responses:
    ServerError:
      description: Server Error
      content:
        application/vnd.api+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - code
                  - title
                  - detail
                  properties:
                    id:
                      type: string
                    code:
                      type: string
                    title:
                      type: string
                    detail:
                      type: string
                    source:
                      type: object
                      properties:
                        pointer:
                          type: string
                        parameter:
                          type: string
            required:
            - errors
    ClientError:
      description: Client Error
      content:
        application/vnd.api+json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - code
                  - title
                  - detail
                  properties:
                    id:
                      type: string
                    code:
                      type: string
                    title:
                      type: string
                    detail:
                      type: string
                    source:
                      type: object
                      properties:
                        pointer:
                          type: string
                        parameter:
                          type: string
            required:
            - errors
  securitySchemes:
    Klaviyo-API-Key:
      type: apiKey
      in: header
      name: Authorization
      description: Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#authentication
      x-default: Klaviyo-API-Key your-private-api-key
x-readme:
  explorer-enabled: false
  proxy-enabled: true
  samples-enabled: true
